//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------


/// Set up color classes quickly by looping through a color Sass map.
///
/// @author Carrie Forde
///
/// @param {map} $colors [$colors] - The map of colors to loop through.


@mixin colors($color-map, $color-type: color) {

	@each $name, $color in $color-map {

		&-#{$name} {

			@if $color-type == color {
				color: $color;
			} @else if $color-type == background or $color-type == background-color {
				background-color: $color;
			} @else if $color-type == fill{
				fill: $color;
			} @else {

				@error "Please check the $color-type. It should be `color`, `fill`, `background`, or `background-color`.";
			}
		}
	}
}
