/**
 * 4.3 Content
 *
 * This sets basic styling for all pages including blog post pages.
 */

/**
 * 4.3.1 Structure
 */
.site::after {
	@include clearfix;
}

.boxed .site {
	background-color: $color__background-body;
}

.boxed .site,
.boxed-content .site-content {
	max-width: $size__width-boxed-content;
	@include center-block;
}

.post-thumbnail {
	display: block;
	background-color: $color__background-featured-image;
}

.post-thumbnail img {
	margin-bottom: em(20);
	@include center-block;
}

.site-content {
	overflow: hidden;
}

.content-area {
	width: $size__width-site;
	margin: 0 auto;
	padding: $size__padding-default;

	@media (min-width: em(900)) {
		padding: $size__padding-default-double $size__padding-default;
	}
}

/**
 * 4.3.2 Posts & Pages
 */

.sticky {
	display: block;
}

.hentry {
	margin-bottom: em(40);
	word-wrap: break-word;

	@media (min-width: em(900)) {
		margin-bottom: em(50);
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.edit-link {
	display: block;
}

.post-edit-link {
	display: inline-block;
	margin: em(5) 0;

	&::before {
		content: '\f040';
		font: {
			family: $font-awesome;
			size: em(14);
		}
		padding-right: em(5);
	}
}

.cat-links,
.tags-links {
	display: block;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/**
 * 4.3.3 Asides
 */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/**
 * 4.3.4 Comments
 */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
