//--------------------------------------------------------------
// CONTENT
//--------------------------------------------------------------
.content-area,
.primary-sidebar {
	padding: $size__padding * 2 $size__padding;
}


//-------------------------------
// Boxed
//-------------------------------
.boxed {
	@include center;

	max-width: 100%;
	width: $size__layout-boxed;
}


//-------------------------------
// Boxed Content
//-------------------------------
.boxed-content {

	.site-content {
		@include center;

		max-width: 100%;
		overflow: hidden;
		width: $size__layout-boxed-content;
	}
}
