/**
 * 4.3 Content
 *
 * This sets basic styling for all pages including blog post pages.
 */

/**
 * 4.3.1 Structure
 */
.site {
	overflow: hidden;
	@include clearfix;

	&::after {
		@include clearfix-after;
	}

	.boxed & {
		max-width: $size__width-boxed;
		@include center;
		background-color: $color__background-boxed-site;
	}
}

.boxed {
	background-color: $color__background-body-boxed;
}

.site-content {
	overflow: hidden;

	.boxed-content & {
		max-width: $size__width-boxed-content;
		@include center;
	}

	@media (min-width: em(960)) {
		.header-style-side & {
			width: 72%;
			width: calc(100% - 280px);
			float: right;
		}

		.header-style-side.boxed-content & {
			position: relative;
			left: 140px;
			float: none;
			max-width: 680px;
			max-width: calc(680px);
			margin: 0 auto;
		}
	}

	@media (min-width: em(1040)) {
		.header-style-side & {
			width: 70%;
			width: calc(100% - 300px);
		}

		.header-style-side.boxed-content & {
			left: 150px;
			max-width: 740px;
			max-width: calc(740px);
			margin: 0 auto;
		}
	}

	@media (min-width: em(1150)) {
		.header-style-side & {
			width: 70%;
			width: calc(100% - 320px);
		}

		.header-style-side.boxed-content & {
			left: 160px;
			max-width: $size__width-boxed-content;
			margin: 0 auto;
		}
	}
}

.content-area {
	width: $size__width-site;
	padding: $size__padding-default;
	margin: 0 auto;

	@media (min-width: em(900)) {
		padding: $size__padding-default-double $size__padding-default;
	}

	.header-style-side & {

		@media (min-width: em(960)) {
			padding: ($size__padding-default * 1.5) $size__padding-default;
		}

		@media (min-width: em(1150)) {
			padding: $size__padding-default-double ($size__padding-default * 1.5);
		}
	}
}

/**
 * 4.3.2 Posts & Pages
 */

.sticky {
	display: block;
}

.hentry {
	margin-bottom: em(40);
	word-wrap: break-word;

	@media (min-width: em(900)) {
		margin-bottom: em(50);
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post-edit-link {
	display: block;
	margin: em(5) 0;

	&::before {
		content: '\f040';
		padding-right: em(5);
		font: em(14) $font-awesome;
	}
}

.cat-links,
.tags-links {
	display: block;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/**
 * 4.3.3 Asides
 */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/**
 * 4.3.4 Comments
 */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
