/**
 * 4.5 Footer
 */

.site-footer {
	clear: both;
	width: $size__site-width;
	padding: $size__default-padding;

	.footer-widget-areas {
		&::after {
			@include clearfix;
		}
		.widget-area {
			float: left;
			width: 100%;
		}
	}
	.footer-bottom {
		text-align: center;
	}

	@media (min-width: em(960)) {
	.header-style-side & {
		@include span-columns(9 of 12);
		float: right;
	}
}
}

@media (min-width: em(768)) {

	.footer-widget-areas-2 {
		.footer-widget-areas {
			.widget-area {
				@include span-columns( 6 of 12 );
			}
		}
	}
	.footer-widget-areas-3 {
		.footer-widget-areas {
			.widget-area {
				@include span-columns( 4 of 12 );
			}
		}
	}
	.footer-widget-areas-4 {
		.footer-widget-areas {
			.widget-area {
				@include span-columns( 3 of 12 );
			}
		}
	}
}

/**
 * 4.5.2 Social Network Icons
 */
.alcatraz-social-icons {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
	text-align: center;

	li {
		display: inline-block;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	.alcatraz-social-icon {
		font-size: 24px;
	}
}
