/**
 * 4.1 Header
 */

.site-header {
	position: relative;

	.header-image-wrap {
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	.header-image {
		width: 100%;
		display: block;
	}

	.header-inner {
		padding: $size__default-padding $size__default-padding 0;
		position: relative;

		@media (max-width: em(460)) {
			width: 275px;
		}

		@media (max-width: em(767)) {
			.mobile-nav-toggle-style-hamburger & {
				float: left;
			}
		}

		@media (max-width: em(960)) {
			.header-style-side.mobile-nav-toggle-style-hamburger & {
				float: left;
			}
		}
	}

	.logo-wrap {
		max-width: 300px;
		margin-bottom: em(20);
		@include center-block;

		@media (min-width: em(768)) {
			.header-style-default &,
			.header-style-short {
				max-width: 600px;
			}
		}
	}

	.logo-mobile {
		display: block;

		@media (min-width: em(768)) {
			.header-style-default &,
			.header-style-short & {
				display: none;
			}
		}

		@media (min-width: em(960)) {
			.header-style-side & {
				display: none;
			}
		}
	}

	.logo-regular {
		display: none;

		@media (min-width: em(768)) {
			.header-style-default &,
			.header-style-short & {
				display: block;
			}
		}

		@media (min-width: em(960)) {
			.header-style-side & {
				display: block;
			}
		}
	}

	.site-title {
		margin: 0 0 10px;
		@include font-size(36);
		font: {
			family: $font__headings;
			weight: 600;
		}

		.has-logo & {
			@include hide-text;
		}
	}

	.site-description {
		margin: 10px 0;

		.has-logo & {
			@include hide-text;
		}
	}
}

.transparent-header .site-header {
	position: absolute;
	z-index: 99;

	.header-image-wrap {
		display: none;
	}
}

@media (min-width: em(768)) {

	.header-style-default {

		.header-inner {
			text-align: center;
			padding: 20px;
		}
	}

	.header-style-short {
		@include display-context() {
			@include direction-context() {

				.header-inner {
					@include span-columns(4 of 12);
					padding: $size__default-padding;
				}

				.main-navigation {
					@include span-columns(8 of 12);
					@include omega();
				}
			}
		}
	}
}

@media (min-width: em(960)) {
	.header-style-side {

		.site-header {
			@include span-columns(4 of 12);
			height: 100%;/*
			// display: block;
			float: left;*/
			position: fixed;
			padding: $size__default-padding;
		}

		.site-content {
			@include span-columns(8 of 12);
			@include omega();
			float: right;
		}
	}
}
