/**
 * 4.1 Header
 */

.site-header {
	position: relative;
}

.header-image-wrap {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.header-image {
	width: 100%;
	display: block;
}

.header-inner {
	padding: $size__padding-default $size__padding-default 0;
	position: relative;

	.mobile-nav-toggle-style-hamburger & {
		float: left;
		max-width: 65%;
		max-width: calc(100% - 120px);
	}
}

.site-title {
	margin: 0 0 10px;
	@include font-size(36);
	font: 600 2em/#{$font__line-height-headings} $font__headings;

	.has-logo &,
	.has-mobile-logo & {
		@include hide-text;
	}
}

.site-description {
	margin: 10px 0;

	.has-logo &,
	.has-mobile-logo & {
		@include hide-text;
	}
}

.transparent-header .site-header {
	position: absolute;
	z-index: 99;

	.header-image-wrap {
		display: none;
	}
}

@media (min-width: em(768)) {

	.header-style-default {

		.header-inner {
			padding: 20px;
			text-align: center;
		}

		&.mobile-nav-toggle-style-hamburger {

			.header-inner {
				float: none;
				max-width: 100%;
			}
		}
	}

	.header-style-short {

		.header-inner {
			@include span-columns(4 of 12);
			padding: $size__padding-default;
		}

		.main-navigation {
			@include span-columns(8 of 12);
			@include omega();
		}
	}
}

@media (min-width: em(960)) {

	.header-style-side {

		.site-header {
			width: 280px;
			width: calc(280px);
			height: 100%;
			position: fixed;
			padding: $size__padding-default-half 0;
			overflow-y: auto;

			.header-inner {
				max-width: 100%;
			}
		}
	}
}

@media (min-width: em(1040)) {

	.header-style-side {

		.site-header {
			width: 300px;
			width: calc(300px);
		}
	}
}

@media (min-width: em(1150)) {

	.header-style-side {

		.site-header {
			width: 320px;
			width: calc(320px);
			padding: $size__padding-default $size__padding-default-half;
		}
	}
}

/* Logo Styling */
.has-logo {
	display: block;

	@media (min-width: em(768)) {
		.logo-mobile &.header-style-default.has-mobile-logo,
		.logo-mobile &.header-style-short.has-mobile-logo {
			display: none;
		}

		.logo-regular &.header-style-default.has-mobile-logo,
		.logo-regular &.header-style-short.has-mobile-logo {
			display: block;
		}
	}

	@media (min-width: em(960)) {

		.logo-mobile &.header-style-side.has-mobile-logo {
			display: none;
		}

		.logo-regular &.header-style-side.has-mobile-logo {
			display: block;
		}
	}
}

.has-mobile-logo {

	.logo-mobile {
		display: block;
	}

	.logo-regular {
		display: none;
	}

	@media (min-width: em(768)) {

		&.has-logo.header-style-default,
		&.has-logo.header-style-short {
			.logo-mobile {
				display: none;
			}

			.logo-regular {
				display: block;
			}
		}
	}

	@media (min-width: em(960)) {

		&.has-logo.header-style-side {
			.logo-mobile {
				display: none;
			}

			.logo-regular {
				display: block;
			}
		}
	}
}

.logo {

	.mobile-nav-toggle-style-button & {
		@include center;
	}

	@media (min-width: em(768)) {
		@include center;
	}

	@media (min-width: em(960)) {

		.header-style-side & {
			margin-bottom: 20px;
		}
	}
}
