/**
 * 4.1 Header
 */

.site-header {
	position: relative;
	.header-image-wrap {
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	.header-image {
		width: 100%;
		display: block;
	}
	.site-branding {
		padding: $size__default-padding $size__default-padding 0;
		position: relative;
	}
	.site-title {
		margin: 0 0 10px;
		@include font-size(30);
		font: {
			family: $font__headings;
			weight: 600;
		}
	}
	.site-description {
		margin: 10px 0;
	}
}

.transparent-header .site-header {
	position: absolute;
	z-index: 99;
	.header-image-wrap {
		display: none;
	}
}

@media (min-width: em(768)) {

	.header-style-default {

		.site-branding {
			text-align: center;
		}
	}

	.header-style-short {

		.site-branding {
			float: left;
			width: $size__site-branding;
		}
	}
}

@media (min-width: em(960)) {
	.header-style-side {
		@include display-context() {
			@include outer-container();
			@include direction-context() {

				.site-header {
					@include span-columns(4 of 12);
					padding: $size__default-padding;
				}

				.site-content {
					@include span-columns(8 of 12);
					@include omega();
				}
			}
		}

		.main-navigation li {
			float: none;
		}
	}
}
