/**
 * 4.2 Navigation
 */

/**
 * 4.2.1 Links
 */

a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/**
 * 4.2.2 Menus
 */

/* Mobile Nav Toggle Styles */
.menu-toggle,
.inner-menu-toggle {
	cursor: pointer;
	display: block;
}

/* Mobile Nav Button Toggle Style */
.mobile-nav-toggle-style-button {
	&.mobile-nav-style-slide-left,
	&.mobile-nav-style-slide-right {
		.main-navigation.toggled .menu-toggle {
			display: block;
		}
	}

	.menu-toggle {
		padding: 15px 20px;
		margin: 20px 20px 0;
		border-radius: 5px;
		background-color: $alcatraz-blue;
		color: #fff;
		font-weight: 400;
		text: {
			align: center;
			transform: uppercase;
		}

		&:hover {
			background-color: darken($alcatraz-blue, 20%);
		}
	}

	.main-navigation.toggled {
		.inner-menu-toggle {
			@include inner-menu-close;
		}
	}
}

/* Mobile Nav Hamburger Toggle Style */
.mobile-nav-toggle-style-hamburger {
	.menu-toggle {
		position: absolute;
		top: 30px;
		right: 25px;
		width: 25px;
		height: 3px;
		background-color: $alcatraz-blue;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 25px;
			height: 3px;
			background-color: $alcatraz-blue;
			transition: all 0.2s ease;
		}

		&::before {
			top: -8px;
		}

		&::after {
			top: 8px;
		}

		.menu-text {
			@include hide-text;
		}
	}

	.inner-menu-toggle {
		display: none;
	}

	.toggled .menu-toggle {
		background-color: transparent;

		&::before {
			transform: rotate(45deg) translate(5px, 6px);
		}

		&::after {
			transform: rotate(-45deg) translate(5px, -6px);
		}
	}

	.toggled .inner-menu-toggle {
		@include inner-menu-close;
	}
}

@media (min-width: em(768)) {

	.header-style-default,
	.header-style-short {
		.main-navigation .menu-toggle {
			display: none;
		}
	}
}

@media (min-width: em(960)) {

	.header-style-side {
		.menu-toggle {
			display: none;
		}
	}
}

/* Chevron Sub Menu Toggle Style */
.sub-menu-toggle-style-chevron {

	.sub-menu-toggle {

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 22.5px;
			width: 13.5px;
			height: 2px;
			background-color: $alcatraz-blue;
			transition: all 0.2s ease;
		}

		&::before {
			left: 12.5px;
			transform: rotate(45deg) translate(2px);
		}

		&::after {
			right: 12.5px;
			transform: rotate(-45deg) translate(-2px);
		}
	}

	.sub-menu-toggle.toggled {

		&::before {
			transform: rotate(135deg) translate(-2px);
		}

		&::after {
			transform: rotate(-135deg) translate(2px);
		}
	}
}

/* Plus-Minus Sub-Menu Toggle Style */
.sub-menu-toggle-style-plus-minus {

	.sub-menu-toggle {

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 22.5px;
			left: 17.5px;
			width: 14px;
			height: 2px;
			background-color: $alcatraz-blue;
			transition: all 0.2s ease-out;
		}

		&::after {
			transform: rotate(90deg);
		}
	}

	.sub-menu-toggle.toggled {
		&::after {
			transform: rotate(180deg);
		}
	}
}

/* Mobile Nav Default Styles */
.main-navigation {
	display: block;
	width: 100%;
	line-height: 1;
	clear: both;

	&.toggled #primary-menu-wrap {
		opacity: 1;
	}

	&.toggled #primary-menu {
		display: block;
	}

	.menu-overlay {
		transition: background-color 0.3s;
		cursor: pointer;
	}

	#primary-menu-wrap {
		position: relative;
		z-index: 99;
		opacity: 0;
		transition: opacity 0.4s;
	}

	#primary-menu {
		display: none;
		position: absolute;
		z-index: 99;
		clear: both;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: $true-white;

		&::after {
			@include clearfix();
		}

		.menu-item {
			width: 100%;
			position: relative;

			&.menu-item-has-children a {
				padding-right: 50px;
			}

			a {
				display: block;
				padding: 10px 20px;
				line-height: 1.5;
				text-decoration: none;
			}

			a.sub-menu-toggle {
				position: absolute;
				top: 0;
				right: 0;
				padding-left: 0;
				padding-right: 0;
				width: 50px;
				text-align: center;
				text-indent: 101%;
			}
		}

		.sub-menu {
			display: none;
			position: relative;
			width: 100%;
			min-width: 165px;
			margin: 0;
			padding-left: $size__default-padding;
			z-index: 99;
			background-color: #fff;
			list-style-type: none;

			&.toggled {
				display: block;
			}
		}

		.current-menu-item > a {
			font-weight: bold;
		}
	}
}

.mobile-nav-style-default {
	.inner-menu-toggle {
		display: none;
	}

	#primary-menu {
		box-shadow: 0 4px 8px -2px rgba(0,0,0,0.2);
	}
}

@media (min-width: em(768)) {
	.header-style-default.mobile-nav-style-default,
	.header-style-short.mobile-nav-style-default {
		#primary-menu {
			box-shadow: none;
		}
	}
}

@media (min-width: em(960)) {
	.header-style-side.mobile-nav-style-default {
		#primary-menu {
			box-shadow: none;
		}
	}
}

/* Mobile Nav Slide From Left & Slide From Right Shared Styles */
.mobile-nav-style-slide-left,
.mobile-nav-style-slide-right {
	&.admin-bar {
		#primary-menu-wrap {
			top: 46px;

			@media (min-width: em(768)) {
				top: 32px;
			}
		}
	}

	#primary-menu-wrap {
		position: fixed;
		z-index: 99;
		top: 0;
		width: 240px;
		min-height: 100vh;
	}

	#primary-menu {
		height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
		display: block;
		padding-top: 60px;
		padding-bottom: 40px;
	}

	.main-navigation.toggled {
		.menu-toggle {
			display: none;
		}

		.menu-overlay {
			display: block;
			position: fixed;
			z-index: 99;
			width: 100%;
			height: 150vh;
			overflow: hidden;
			top: 0;
			background-color: $color__transparent-overlay;
		}
	}

	.inner-menu-toggle {
		display: block;
		position: absolute;
		top: 30px;
		z-index: 1000;
	}
}

/* Mobile Nav Slide From Left Styles */
.mobile-nav-style-slide-left {
	#mobile-nav-left-swipe-zone {
		position: fixed;
		height: 100vh;
		width: 20px;
		left: 0;
		top: 0;
		z-index: 100;
	}

	.main-navigation.toggled #mobile-nav-left-swipe-zone {
		display: none;
	}

	#primary-menu-wrap {
		left: -240px;
		transition: left 0.2s;
		opacity: 1;
	}

	.main-navigation.toggled #primary-menu-wrap {
		left: 0;
		transition: left 0.4s;
	}

	.inner-menu-toggle {
		left: $size__default-padding;
	}
}

/* Mobile Nav Slide From Right Styles */
.mobile-nav-style-slide-right {
	#mobile-nav-right-swipe-zone {
		position: fixed;
		height: 100vh;
		width: 20px;
		right: 0;
		top: 0;
		z-index: 100;
	}

	.main-navigation.toggled #mobile-nav-right-swipe-zone {
		display: none;
	}

	#primary-menu-wrap {
		right: -240px;
		transition: right 0.4s;
		opacity: 1;
	}

	.main-navigation.toggled #primary-menu-wrap {
		right: 0;
		transition: right 0.2s;
	}

	.inner-menu-toggle {
		right: $size__default-padding;
	}
}

/* Mobile Nav Full Screen Styles */
.mobile-nav-style-full-screen {
	&.admin-bar .main-navigation.toggled #primary-menu-wrap {
		top: 46px;
	}

	.main-navigation.toggled #primary-menu-wrap {
		position: fixed;
		z-index: 99;
		top: 0;
		width: 100%;
		min-height: 100vh;
		overflow-y: auto;
		background-color: $true-white;
		opacity: 0;
		transition: opacity 0.4s;
	}

	#primary-menu {
		min-height: 100vh;
		padding-top: 60px;
		padding-bottom: 80px;
	}

	.main-navigation.toggled #primary-menu-wrap {
		display: block;
		opacity: 1;
	}

	.inner-menu-toggle {
		display: block;
		position: absolute;
		top: $size__default-padding;
		right: $size__default-padding;
		z-index: 1000;
	}
}

/* Tablet and Desktop Nav Header Default Styles */
@media (min-width: em(768)) {

	.header-style-default {
		@include large-screen-nav-display( inline-block );
		@include large-screen-nav-dropdown;

		#primary-menu {
			background-color: $alcatraz-blue;

			a {
				color: $true-white;
			}
		}
	}
}

/* Tablet and Desktop Nav Header Short Styles */
@media (min-width: em(768)) {

	.header-style-short {
		@include large-screen-nav-display( inline-block );
		@include large-screen-nav-dropdown;

		.main-navigation {
			text-align: right;
			float: right;
			clear: none;
			padding: $size__default-padding;

			#primary-menu {
				text-align: right;
			}
		}
	}
}

/* Tablet and Desktop Nav Header Side Styles */
@media (min-width: em(960)) {

	.header-style-side {
		@include large-screen-nav-display( block );

		.main-navigation,
		&.mobile-nav-style-slide-left,
		&.mobile-nav-style-slide-right {
			#primary-menu {
				text-align: left;
				display: block;
			}
		}
	}
}

/* Pagination Styles */
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
