/**
 * 4.2 Navigation
 */

/**
 * 4.2.1 Links
 */

a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/**
 * 4.2.2 Menus
 */

.main-navigation {
	display: block;
	float: left;
	width: 100%;

	@media (min-width: em(768)) {
		.header-style-default & {
			float: none;
			background-color: $accent-blue;
			text-align: center;

			> div {
				display: inline-block;

				a {
					color: #fff;
				}
			}
		}

		.header-style-short & {
			padding: em(37) em(20);
			text-align: right;

			> div {
				display: inline-block;
			}
		}
	}

	@media (min-width: em(960)) {
		.header-style-side & li {
			float: none;
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;
			background-color: #fff;

			@media (min-width: em(768)) {
				.header-style-default & {
					top: 45px;
					border-top: 3px solid #999;
					text-align: left;

					a {
						color: $color__link;
						&:hover {
							color: $color__link-hover;
						}
					}
				}

				.header-style-short & {
					top: 45px;
					border-top: 3px solid $accent-blue;
					text-align: left;
				}
			}

			@media (min-width: em(960)) {
				.header-style-side & {
					border-left: 3px solid $accent-blue;
					box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
				}
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;

			@media (min-width: em(960)) {
				.header-style-side & {
					top: 0;
					left: 200px;
				}
			}
		}

		@media (min-width: em(768)) {
			.header-style-short & li:hover{
				&:last-child {
					> ul {
						left: -100px;
					}
				}
			}
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		padding: 10px 20px;
		text-decoration: none;

		@media (min-width: em(960)) {
			.header-style-side & {
				width: 200px;
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media (min-width: em(768)) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

