/**
 * 4.4 Sidebars
 */

.primary-sidebar {
	margin: 0;
	padding: $size__padding-default;

	@media (min-width: em(768)) {
		padding: $size__padding-default-double $size__padding-default;
	}
}

@media (min-width: em(768)) {

	/* Left Sidebar */
	.left-sidebar {
		.content-area {
			width: 72%;
			float: right;
		}
		.primary-sidebar {
			width: 28%;
			float: left;
		}
	}

	/* Right Sidebar */
	.right-sidebar {
		.content-area {
			width: 72%;
			float: left;
		}
		.primary-sidebar {
			width: 28%;
			float: right;
		}
	}
}

.header-style-side.boxed-content,
.header-style-side.boxed {
	.content-area,
	.primary-sidebar {
		width: 100%;
	}
}

@media (min-width: em(1340)) {
	.header-style-side.boxed-content {
		&.left-sidebar {
			.content-area {
				width: 72%;
				float: right;
			}
			.primary-sidebar {
				width: 28%;
				float: left;
			}
		}

		/* Right Sidebar */
		&.right-sidebar {
			.content-area {
				width: 72%;
				float: left;
			}
			.primary-sidebar {
				width: 28%;
				float: right;
			}
		}
	}
}
