/**
 * 3.4 Sidebars
 */

.primary-sidebar {
	margin: 0;
	padding: $size__default-padding;
}

@media ( min-width: $breakpoint__tablet ) {

	/* Left Sidebar */
	.left-sidebar {
		.content-area {
			float: right;
			width: $size__sidebar-content-width;
		}
		.primary-sidebar {
			float: left;
			width: $size__sidebar-width;
		}
	}

	/* Right Sidebar */
	.right-sidebar {
		.content-area {
			float: left;
			width: $size__sidebar-content-width;
		}
		.primary-sidebar {
			float: right;
			width: $size__sidebar-width;
		}
	}
}