/**
 * 4.4 Sidebars
 */

.primary-sidebar {
	margin: 0;
	padding: $size__default-padding;
}

@media (min-width: em(768)) {

	/* Left Sidebar */
	.left-sidebar {
		@include row(block, rtl);

		.content-area {
			@include span-columns( 8 of 12 );
		}
		.primary-sidebar {
			@include span-columns( 4 of 12 );
		}
	}

	/* Right Sidebar */
	.right-sidebar {
		@include row(block, ltr);

		.content-area {
			@include span-columns( 8 of 12 );
		}
		.primary-sidebar {
			@include span-columns( 4 of 12 );
		}
	}
}
