/**
 * 3.4 Sidebars
 */

/* Left Sidebar */
.content-area {
	float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;
}

.site-main {
	margin: 0 0 0 $size__site-sidebar;
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}


/* Right Sidebar */
.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
