.page-template-layout-with-sidebar {
	@include mq-min($breakpoint-3) {
		.site-content {
			display: grid;
			grid-column-gap: $size-4;
			grid-template-columns:
				minmax(auto, calc(100% - (#{$sidebar-width} + #{$size-4})))
				$sidebar-width;
		}
	}
}
