.comment {

	& + &,
	.children & {
		margin-top: $size-4;
	}
}

.comment-form {

	label {
		display: block;
		font-weight: 700;
	}

	textarea {
		width: 100%;
	}

	&-cookies-consent {

		label {
			display: inline-block;
			margin-left: $size-2;
			vertical-align: middle;
		}
	}
}
