//--------------------------------------------------------------
// MEDIA
//--------------------------------------------------------------
img {
	height: auto;
	margin-bottom: rem(15);
	max-width: 100%;
}

//-----------------------------------------
// Captions
//-----------------------------------------
.wp-caption {
	max-width: 100%;

	img[class*="wp-image-"] {

		@include center-block;
	}
}

.wp-caption-text {
	font-size: rem(14);
	font-weight: 500;
	margin: rem(10) 0;
	text-align: center;
}

//-----------------------------------------
// Alignments
//-----------------------------------------
.alignleft {
	float: left;
	margin-right: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
}

.aligncenter {

	@include center-block;

	clear: both;
}

.alignnone {
	display: inline;
}

//-----------------------------------------
// Post Thumbnail
//-----------------------------------------
.post-thumbnail {

	img {

		@include center-block;

		margin-bottom: rem(20);
	}
}

//-----------------------------------------
// Image as Background
//
// Good for accessibility when using back-
// ground images.
//-----------------------------------------
.image-as-background {
	background-position: center;
	background-size: cover;
}

//-----------------------------------------
// Galleries
//-----------------------------------------
.gallery {
	margin-bottom: rem(25);
	overflow: hidden;
}

.gallery-item {
	display: inline-block;
	margin: rem(20) 0;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// @include mq-min($tablet-landscape-up) {

	// 	.gallery-columns-1 & {

	// 		@include grid-column(12);
	// 	}

	// 	.gallery-columns-2 & {

	// 		@include grid-column(6);
	// 	}

	// 	.gallery-columns-3 & {

	// 		@include grid-column(4);
	// 	}

	// 	.gallery-columns-4 & {

	// 		@include grid-column(3);
	// 	}

	// 	.gallery-columns-5 & {
	// 		$col-5: (columns: 5);

	// 		@include grid-column(1, $col-5);
	// 	}

	// 	.gallery-columns-6 & {

	// 		@include grid-column(2);
	// 	}

	// 	.gallery-columns-7 & {
	// 		$col-7: (columns: 7);

	// 		@include grid-column(1, $col-7);
	// 	}

	// 	.gallery-columns-8 & {
	// 		$col-8: (columns: 8);

	// 		@include grid-column(1, $col-8);
	// 	}

	// 	.gallery-columns-9 & {
	// 		$col-9: (columns: 9);

	// 		@include grid-column(1, $col-9);
	// 	}

	// 	.gallery-columns-10 & {
	// 		$col-10: (columns: 10);

	// 		@include grid-column(1, $col-10);
	// 	}
	// }
}

.gallery-caption {
	display: block;
}

.tiled-gallery .gallery-row {
	margin: 0 auto;

	&:last-child {
		margin-bottom: em(25);
	}
}

//-----------------------------------------
// Other media
//-----------------------------------------
// Make sure embeds and iframes fit their containers.
embed,
iframe,
object {
	height: 50vw;
	max-width: 100%;
	width: 100%;
}

// oEmbeds
.twitter-tweet {
	margin: 0 auto;
}
