//--------------------------------------------------------------
// TABLES
//--------------------------------------------------------------
table {
	margin: 0 0 rem(25);
}

thead {
	font-weight: 700;
}

th,
td {
	border: $border__table;
	padding: em(8);
}
