//--------------------------------------------------------------
//   MIXINS
//--------------------------------------------------------------


// Center - makes the assumption the element is already block
@mixin center {
	margin-left: auto;
	margin-right: auto;
}


// Center block - displays block and centers
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


// Larger Screen Nav Display Styles
@mixin large-screen-nav-display( $display: 'inline-block' ) {

	.main-navigation #primary-menu-wrap,
	.mobile-nav-style-slide-left.admin-bar #primary-menu-wrap,
	.mobile-nav-style-slide-right.admin-bar #primary-menu-wrap {
		height: auto;
		left: auto;
		min-height: auto;
		opacity: 1;
		position: static;
		right: auto;
		text-align: center;
		top: auto;
		width: auto;
	}

	.main-navigation #primary-menu,
	.mobile-nav-style-slide-left #primary-menu,
	.mobile-nav-style-slide-right #primary-menu {
		display: $display;
		height: auto;
		min-height: auto;
		overflow: visible;
		padding-top: 0;
		padding-bottom: 0;
		position: static;
		text-align: center;
	}

	.main-navigation #primary-menu .menu-item {
		display: $display;
		text-align: left;
		width: auto;
	}
}

// Larger Screen Nav Drop-down Styles
@mixin large-screen-nav-dropdown {

	.main-navigation #primary-menu {

		.menu-item {
			&.menu-item-has-children > a {
				padding-right: rem(40);
			}

			&.hovered > .sub-menu {
				display: block;
			}

			> .sub-menu {
				position: absolute;

				.sub-menu {
					left: 100%;
					top: 0;
				}
			}
		}

		> .menu-item {

			&.reverse-expand {

				.sub-menu {
					right: 0;
				}
			}

			.sub-menu .menu-item.reverse-expand .sub-menu {
				left: -100%;
			}
		}
	}

	.main-navigation #primary-menu {

		.sub-menu {
			background-color: $color__background-sub-menu;
			border-bottom: $border__nav-sub-menu;
			box-shadow: $color__box-shadow-sub-menu;
			padding: 0;
			position: relative;
			text-align: left;

			.menu-item {
				display: block;
				width: 100%;

				a {
					color: $color__link-nav-sub-menu;

					&:hover {
						color: $color__link-nav-sub-menu-hover;
					}
				}

				.sub-level-toggle .sub-level-toggle-span {
					background-color: $color__background-sub-menu-toggle;
				}

				.sub-level-toggle:hover .sub-level-toggle-span {
					background-color: $color__background-sub-menu-toggle-hover;
				}
			}
		}
	}
}
