//--------------------------------------------------------------
// PATTERN LIBRARY
//
// This file controls the basic styling for the pattern library
// as a whole. Individual atom, molecule, organism, template
// styles, etc. should live in their respective folders.
//--------------------------------------------------------------

//-------------------------------
// Sections Patterns
//-------------------------------
.section-pattern {
	margin: 0 0 rem(60);
	overflow: hidden;

	.wrap {
		margin: 0 0 rem(40);
	}
}

//-------------------------------
// Pattern Docs
//-------------------------------
.pattern-doc-header {
	align-items: flex-end;
	border-bottom: $border__patterns-header;
	display: flex;
	justify-content: space-between;
	margin: 0 0 rem(25);
	padding: 0 0 rem(5);

	.pattern-doc-heading {
		margin: 0;
	}
}

.pattern-doc-info {
	display: none;
}


//-------------------------------
// Pattern Grids
//-------------------------------
.section-grids {

	.row {
		margin: 0 0 rem(20);
		overflow: hidden;
	}

	[class^="alcatraz-col"] {
		background-color: $mist;

		&:first-child {
			margin: 0 0 rem(10);

			@include media($tablet-portrait) {
				margin: 0;
			}
		}
	}

	.no-gutter {

		[class^="alcatraz-col"]:last-child {
			background-color: $prision-cell-gray;
			color: $white-smoke;
		}
	}
}

//-------------------------------
// Colors
//-------------------------------
.pattern-doc-colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include media($tablet-portrait) {
		justify-content: space-around;
	}

	@include media($tablet-landscape) {
		justify-content: flex-start;
	}

	.color-chip {
		color: $dim-gray;
		font-size: rem(14);
		margin-bottom: rem(30);
		text-align: center;
		width: rem(200);
	}

	.color {
		@include size(rem(100));
		@include center;

		margin-bottom: rem(5);
	}
}
