//--------------------------------------------------------------
// MENUS
//--------------------------------------------------------------


//-----------------------------------------
// Menu Toggles
//-----------------------------------------
.mobile-menu-toggle {
	width: 100%;

	.mobile-nav-toggle-style-hamburger & {
		@include size(rem(25) rem(21));

		background-color: transparent;
		position: relative;
		z-index: 6;

		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
		}

		@include grid-media($tablet-landscape-up) {
			display: none;
		}

		@include element(bar) {
			@include size(rem(25) rem(3));

			background-color: $color__toggle-background;
			display: block;
			left: 0;
			margin: auto;
			position: absolute;
			transition: $transition__transform;

			//-----------------------------------------
			// Hamburger bars
			//-----------------------------------------
			&.bar-1 {
				top: 0;
			}

			&.bar-2 {
				bottom: 0;
				top: 0;
			}

			&.bar-3 {
				bottom: 0;
			}
		}

		// Hide the "Menu" text.
		.menu-text {
			display: block;
			text-indent: -9999px;
		}
	}
}

//-----------------------------------------
// Toggled Bars
//-----------------------------------------
.mobile-nav-toggle-style-hamburger {
	
	.toggled {

		.mobile-menu-toggle__bar {

			&.bar-1 {
				bottom: 0;
				transform: rotate(45deg);
			}

			&.bar-2 {
				display: none;
			}

			&.bar-3 {
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}


//-----------------------------------------
// General Menu Styles
//-----------------------------------------
.menu {
	@include list-reset;
}

.menu-item {
	
	> a {
		display: block;
		padding: rem(5) 0;
		text-decoration: none;
	}

	&.menu-item-has-children {
		position: relative;

		@include grid-media($tablet-landscape-up) {

			> a {
				padding-right: rem(40);
			}
		}
	}
}


//-----------------------------------------
// Sub Menus
//-----------------------------------------
.sub-menu {
	@include list-reset;

	display: none;
}

.sub-level-toggle {
	@include position(absolute, 0 0 null null);
	@include size(rem(34));

	background-color: transparent;

	&:hover,
	&:active,
	&:focus {
		background-color: transparent;
	}

	.sub-level-toggle-span {
		@include position(absolute, 0 0 0 0);
		@include size(rem(12) rem(2));

		background-color: $color__menu-sub-toggle;
		margin: auto;
	}

	.span-2 {
		transform: rotate(90deg);
		transition: $transition__transform;

		.toggled > & {
			transform: rotate(0);
		}
	}
}


//-----------------------------------------
// Main Navigation
//-----------------------------------------
.main-navigation {
	padding: $size__padding;
}
