//--------------------------------------------------------------
// MENUS
//--------------------------------------------------------------


// Mobile Nav Toggle Shared Styles
.menu-toggle {
	cursor: pointer;
	display: block;
}


// Inner menu toggle close
.inner-menu-toggle {
	box-sizing: border-box;
	cursor: pointer;
	display: none;
	height: rem(45);
	overflow: hidden;
	position: relative;
	text-indent: 9999%;
	width: rem(45);

	.inner-menu-toggle-span {
		@include position(absolute, rem(22) null null rem(9));

		background-color: $color__toggle-background;
		height: rem(3);
		transition: all 0.2s ease;
		width: rem(25);

		&.span-1 {
			transform: rotate(45deg);
		}

		&.span-2 {
			display: none;
		}

		&.span-3 {
			transform: rotate(-45deg);
		}
	}
}


// Mobile Nav Button Toggle Style
.mobile-nav-toggle-style-button {

	&.mobile-nav-style-slide-left,
	&.mobile-nav-style-slide-right {

		.main-navigation.toggled .menu-toggle {
			display: block;
		}
	}

	.menu-toggle {
		background-color: $color__toggle-background;
		border-radius: rem(5);
		color: $color__toggle-background;
		font-weight: 400;
		margin: rem(20) rem(20) 0;
		padding: rem(15) rem(20);
		text: {
			align: center;
			transform: uppercase;
		}
	}
}


// Mobile Nav Hamburger Toggle Style
.mobile-nav-toggle-style-hamburger {

	.menu-toggle {
		@include position(absolute, rem(12) rem(10) null null);
		@include size(rem(45));

		padding: rem(10);

		.menu-toggle-span {
			@include size(rem(25) rem(3));

			background-color: $color__toggle-background;
			position: absolute;
			transition: all 0.2s ease-in;

			&.span-1 {
				top: rem(12);
			}

			&.span-2 {
				top: rem(21);
			}

			&.span-3 {
				top: rem(30);
			}
		}

		.menu-text {
			@include hide-text;
		}
	}

	.toggled .menu-toggle {

		.menu-toggle-span {

			&.span-1 {
				top: rem(13);
				transform: rotate(45deg) translate(rem(5), rem(6));
			}

			&.span-2 {
				background-color: transparent;
			}

			&.span-3 {
				top: rem(29);
				transform: rotate(-45deg) translate(rem(5), rem(-6));
			}
		}
	}
}

@media (min-width: em(768)) {

	.header-style-default,
	.header-style-short {

		.main-navigation .menu-toggle {
			display: none;
		}
	}
}

@media (min-width: em(960)) {

	.header-style-side {

		.menu-toggle {
			display: none;
		}
	}
}


// Sub Level Toggles Shared Styles
.sub-level-toggle {
	@include position(absolute, 0 0 null null);

	cursor: pointer;
	overflow: hidden;
	padding-left: 0; // need to revisit this
	padding-right: 0; // need to revisit this
	text-align: center;
	text-indent: 9999%;
	width: rem(50);

	.sub-level-toggle-span {
		background-color: $color__menu-sub-toggle;
		display: none;
	}
}


// Chevron Sub Menu Toggle Style
.sub-menu-toggle-style-chevron {

	.sub-level-toggle {

		.sub-level-toggle-span {
			@include position(absolute, rem(22.5) null null null);
			@include size(rem(11.5) rem(2));

			transition: all 0.2s ease-in;

			&.span-1 {
				display: block;
				left: rem(16.5);
				transform: rotate(45deg) translate(rem(2));
			}

			&.span-2 {
				display: block;
				right: rem(12.5);
				transform: rotate(-45deg) translate(rem(-2));
			}

			&.span-3 {
				display: none;
			}
		}
	}

	.sub-level-toggle.toggled {

		.sub-level-toggle-span {

			&.span-1 {
				transform: rotate(135deg) translate(rem(-2));
			}

			&.span-2 {
				transform: rotate(-135deg) translate(rem(2));
			}
		}
	}
}


// Plus-Minus Sub Menu Toggle Style
.sub-menu-toggle-style-plus-minus {

	.sub-level-toggle {

		.sub-level-toggle-span {
			@include position(absolute, rem(22.5) null null rem(17.5));
			@include size(rem(14) rem(2));

			transition: all 0.2s ease-out;

			&.span-1 {
				display: block;
			}

			&.span-2 {
				display: block;
				transform: rotate(90deg);
			}
		}
	}

	.sub-level-toggle.toggled {

		.sub-level-toggle-span {

			&.span-2 {
				transform: rotate(180deg);
			}
		}
	}
}


// Mobile Nav Shared Styles
.main-navigation {
	clear: both;
	display: block;
	line-height: 1;
	width: 100%;

	&.toggled #primary-menu-wrap {
		opacity: 1;
	}

	&.toggled #primary-menu {
		display: block;
	}

	a {
		color: $color__link;

		&:hover {
			color: $color__link-hover;
		}
	}

	.menu-overlay {
		cursor: pointer;
		transition: background-color 0.3s;
	}

	#primary-menu-wrap {
		opacity: 0;
		position: relative;
		transition: opacity 0.4s;
		z-index: 99;
	}

	#primary-menu {
		clear: both;
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		&::after {
			@include clearfix();
		}

		.menu-item {
			position: relative;
			width: 100%;

			&.menu-item-has-children > a {
				padding-right: rem(60);
			}

			a {
				display: block;
				line-height: 1.5;
				padding: rem(10) rem(15);
				text-decoration: none;
			}

			a.sub-level-toggle {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.sub-menu {
			background-color: $color__sub-menu-background;
			display: none;
			list-style-type: none;
			margin: 0;
			min-width: rem(165);
			padding-left: $size__padding;
			position: relative;
			width: 100%;
			z-index: 99;

			&.toggled {
				display: block;
			}
		}

		.current-menu-item > a {
			font-weight: 700;
		}
	}
}

.mobile-nav-style-default {

	#primary-menu {
		padding: 0 $size__padding / 2;
	}


	@media (min-width: em(768)) {

		&.header-style-default,
		&.header-style-short {

			#primary-menu {
				box-shadow: none;
			}
		}
	}

	@media (min-width: em(960)) {

		&.header-style-side {

			#primary-menu {
				box-shadow: none;
			}
		}
	}

	.sub-level-toggle {
		right: 8px;
	}
}


// Mobile Nav Slide From Left & Slide From Right Shared Styles
.mobile-nav-style-slide-left,
.mobile-nav-style-slide-right {

	&.admin-bar {

		#primary-menu-wrap {
			top: 46px;

			@media (min-width: em(768)) {
				top: 32px;
			}
		}
	}

	&.header-style-default #primary-menu-wrap,
	&.header-style-short #primary-menu-wrap {

		@media (max-width: em(767)) {

			background-color: $color__mobile-nav-background;
		}

		a {
			@media (max-width: em(767)) {

				color: $color__link;
			}
		}
	}

	&.header-style-side #primary-menu-wrap {

		@media (max-width: em(959)) {
			background-color: $color__mobile-nav-background;
		}

		a {
			@media (max-width: em(959)) {
				color: $color__link;
			}
		}
	}

	#primary-menu-wrap {
		@include position(fixed, 0 null null null);

		min-height: 100vh;
		width: rem(260);
		z-index: 100;
	}

	#primary-menu {
		display: block;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: rem(40);
		padding-top: 0;
	}

	.main-navigation.toggled {

		.menu-toggle {
			display: none;
		}

		.menu-overlay {
			@include position(fixed, 0 null null null);
			@include size(100% 150vh);

			background-color: $color__mobile-nav-slide-overlay-background;
			display: block;
			overflow: hidden;
			z-index: 99;
		}
	}

	.inner-menu-toggle {
		display: block;
		margin-top: rem(10);
	}
}


// Mobile Nav Slide From Left Styles
.mobile-nav-style-slide-left {
	#mobile-nav-left-swipe-zone {
		@include position(fixed, 0 null null 0);
		@include size(rem(20) 100vh);

		z-index: 100;
	}

	.main-navigation.toggled #mobile-nav-left-swipe-zone {
		display: none;
	}

	#primary-menu-wrap {
		left: rem(-260);
		opacity: 1;
		transition: left 0.2s;
	}

	.main-navigation.toggled #primary-menu-wrap {
		left: 0;
		transition: left 0.4s;
	}

	.inner-menu-toggle {
		float: right;
		margin-right: rem(9);
	}

	.sub-level-toggle {
		right: rem(7);
	}
}


// Mobile Nav Slide From Right Styles
.mobile-nav-style-slide-right {

	#mobile-nav-right-swipe-zone {
		@include position(fixed, 0 0 null null);
		@include size(rem(20) 100vh);

		z-index: 100;
	}

	.main-navigation.toggled #mobile-nav-right-swipe-zone {
		display: none;
	}

	#primary-menu-wrap {
		opacity: 1;
		right: rem(-260);
		transition: right 0.4s;
	}

	.main-navigation.toggled #primary-menu-wrap {
		right: 0;
		transition: right 0.2s;
	}

	.inner-menu-toggle {
		float: right;
		margin-right: rem(5);
		overflow: hidden;
		text-indent: 9999%;
	}

	.sub-level-toggle {
		right: rem(3);
	}

	&.sub-menu-toggle-style-plus-minus .sub-level-toggle {
		right: rem(2);
	}
}

// Mobile Nav Full Screen Styles
.mobile-nav-style-full-screen {

	&.admin-bar .main-navigation.toggled #primary-menu-wrap {
		top: rem(46);
	}

	.main-navigation.toggled #primary-menu-wrap {
		background-color: $color__mobile-nav-background;
		min-height: 100vh;
		opacity: 0;
		overflow-y: auto;
		position: fixed;
		top: 0;
		transition: opacity 0.4s;
		width: 100%;
		z-index: 99;
	}

	#primary-menu {
		min-height: 100vh;
		padding-bottom: rem(80);
		padding-top: rem(10);
	}

	.main-navigation.toggled #primary-menu-wrap {
		display: block;
		opacity: 1;
	}

	.main-navigation.toggled .inner-menu-toggle {
		display: block;
	}

	.inner-menu-toggle {
		display: none;
		float: right;
		right: rem(10);
		top: rem(10);
	}

	.sub-level-toggle {
		right: rem(8);
	}
}


// Tablet and Desktop Nav Header Default Styles
@media (min-width: em(768)) {

	.header-style-default {
		@include large-screen-nav-display(inline-block);
		@include large-screen-nav-dropdown;

		.main-navigation #primary-menu .menu-item.menu-item-has-children a.sub-level-toggle {
			padding-left: 0;
			padding-right: 0;
		}

		.sub-level-toggle {
			right: 0;
			width: rem(40);
		}

		&.sub-menu-toggle-style-chevron .sub-level-toggle {

			&.toggled .sub-level-toggle-span {
				top: rem(25.5);
			}

			.sub-level-toggle-span {
				@include size(rem(8) rem(1));

				left: rem(11.5);
			}

			.sub-level-toggle-span.span-2 {
				left: auto;
				right: rem(12.5);
			}
		}

		&.sub-menu-toggle-style-plus-minus .sub-level-toggle {

			.sub-level-toggle-span {
				height: rem(1);
				left: rem(14);
				width: rem(10);
			}
		}

		.inner-menu-toggle {
			display: none;
		}
	}
}


// Tablet and Desktop Nav Header Short Styles
@media (min-width: em(768)) {

	.header-style-short {
		@include large-screen-nav-display(inline-block);
		@include large-screen-nav-dropdown;

		.main-navigation {
			clear: none;
			float: right;
			padding: $size__padding;
			text-align: right;

			#primary-menu {
				float: right;
				text-align: right;
			}
		}

		.main-navigation #primary-menu .menu-item.menu-item-has-children a.sub-level-toggle {
			padding-left: 0;
			padding-right: 0;
		}

		.sub-level-toggle {
			right: 0;
			width: rem(40);
		}

		&.sub-menu-toggle-style-chevron .sub-level-toggle {

			&.toggled .sub-level-toggle-span {
				top: rem(25.5);
			}

			.sub-level-toggle-span {
				@include size(rem(8) rem(1));

				left: rem(11.5);
			}

			.sub-level-toggle-span.span-2 {
				left: auto;
				right: rem(12.5);
			}
		}

		&.sub-menu-toggle-style-plus-minus .sub-level-toggle {

			.sub-level-toggle-span {
				@include size(rem(10) rem(1));

				left: rem(14);
			}
		}

		.inner-menu-toggle {
			display: none;
		}
	}
}


// Tablet and Desktop Nav Header Side Styles
@media (min-width: em(960)) {

	.header-style-side {
		@include large-screen-nav-display(block);

		.main-navigation,
		&.mobile-nav-style-slide-left,
		&.mobile-nav-style-slide-right {

			#primary-menu {
				display: block;
				text-align: left;
			}
		}

		.inner-menu-toggle {
			display: none;
		}
	}
}


//--------------------------------------------------------------
//   SOCIAL MEDIA MENU
//--------------------------------------------------------------
.social-navigation {
	margin: rem(15) 0 0;

	.social-links-menu {
		@include margin-padding-reset;

		align-items: center;
		display: flex;
		list-style-type: none;
		justify-content: center;

		.menu-item > a {
			@include size(rem(25));

			display: block;
			margin: 0 rem(5);
			text-align: center;

			&:before {
				display: inline-block;
				font-family: $font__social-icons;
				font-size: rem(20);
				font-style: normal;
				line-height: 1;
				text-align: center;
			}

			&[href*="behance.net"]:before {
				content: '\f1b4';
			}

			&[href*="bitbucket.org"]:before {
				content: '\f171';
			}

			&[href*="codepen.io"]:before {
				content: '\f1cb';
			}

			&[href*="deviantart.com"]:before {
				content: '\f1bd';
			}

			&[href*="digg.com"]:before {
				content: '\f1a6';
			}

			&[href*="dribbble.com"]:before {
				content: '\f17d';
			}

			&[href^="mailto:"]:before {
				content: '\f0e0';
			}

			&[href*="facebook.com"]:before {
				content: '\f09a';
			}

			&[href*="github.com"]:before,
			&[href*="github.io"]:before {
				content: '\f09b';
			}

			&[href*="plus.google.com"]:before {
				content: '\f0d5';
			}

			&[href*="instagram.com"]:before {
				content: '\f16d';
			}

			&[href*="jsfiddle.net"]:before {
				content: '\f1cc';
			}

			&[href*="linkedin.com"]:before {
				content: '\f0e1';
			}

			&[href*="medium.com"]:before {
				content: '\f23a';
			}

			&[href*="pinterest.com"]:before {
				content: '\f0d2';
			}

			&[href*="reddit.com"]:before {
				content: '\f1a1';
			}

			&[href*="skype.com"]:before {
				content: '\f17e';
			}

			&[href*="slack.com"]:before {
				content: '\f198';
			}

			&[href*="slideshare.net"]:before {
				content: '\f1e7';
			}

			&[href*="snapchat.com"]:before {
				content: '\f2ab';
			}

			&[href*="soundcloud.com"]:before {
				content: '\f1be';
			}

			&[href*="spotify.com"]:before {
				content: '\f1bc';
			}

			&[href*="tumblr.com"]:before {
				content: '\f173';
			}

			&[href*="twitter.com"]:before {
				content: '\f099';
			}

			&[href*="vimeo.com"]:before {
				content: '\f27d';
			}

			&[href*="vine.co"]:before {
				content: '\f1ca';
			}

			&[href*="whatsapp.com"]:before {
				content: '\f232';
			}

			&[href*="wordpress.com"]:before,
			&[href*="wordpress.org"]:before {
				content: '\f19a';
			}

			&[href*="yelp.com"]:before {
				content: '\f1e9';
			}

			&[href*="youtube.com"]:before {
				content: '\f167';
			}
		}
	}
}
