//--------------------------------------------------------------
// MENUS
//--------------------------------------------------------------


//-----------------------------------------
// Menu Toggles
//-----------------------------------------
.mobile-menu-toggle {
	display: block;
	margin: 0 auto;
	width: rem(200);


	@include grid-media($tablet-landscape-up) {
		display: none;
	}

	.mobile-nav-toggle-style-hamburger & {
		@include margin-padding-reset;
		@include position(absolute, $size__padding $size__padding null null);
		@include size(rem(25) rem(21));

		background-color: transparent;
		z-index: 6;

		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
		}

		@include element(bar) {
			@include size(rem(25) rem(3));

			background-color: $color__toggle-background;
			display: block;
			left: 0;
			margin: auto;
			position: absolute;
			transition: $transition__transform;

			//-----------------------------------------
			// Hamburger bars
			//-----------------------------------------
			&.bar-1 {
				top: 0;
			}

			&.bar-2 {
				bottom: 0;
				top: 0;
			}

			&.bar-3 {
				bottom: 0;
			}
		}

		// Hide the "Menu" text.
		.menu-text {
			display: block;
			text-indent: -9999px;
		}
	}

	.mobile-nav-toggle-style-hamburger.admin-bar & {
		top: ($size__padding * 2) + rem(46);

		@include grid-media($wp-admin-bar) {
			top: ($size__padding + 2) + rem(32);
		}
	}
}

//-----------------------------------------
// Menu Toggle Positioning
//-----------------------------------------
body:not(.mobile-nav-style-default) {
	
	// Add extra padding at the top to give the menu breathing room.
	.main-navigation {

		@include media(null, $tablet-landscape-up) {
			padding-top: $size__padding * 4;
		}
	}

	// Position the menu close toggle.
	&.menu-open {
		
		.mobile-menu-toggle {
			position: absolute;
			top: $size__padding;
			z-index: 3;
		}

		&.admin-bar {
			
			.mobile-menu-toggle {
				top: ($size__padding * 2) + rem(46);

				@include grid-media($wp-admin-bar) {
					top: ($size__padding + 2) + rem(32);
				}
			}
		}
	}
}

//-----------------------------------------
// Toggled Bars
//-----------------------------------------
.mobile-nav-toggle-style-hamburger {
	
	&.menu-open {

		.mobile-menu-toggle__bar {

			&.bar-1 {
				bottom: 0;
				transform: rotate(45deg);
			}

			&.bar-2 {
				display: none;
			}

			&.bar-3 {
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}


//-----------------------------------------
// General Menu Styles
//-----------------------------------------
.menu {
	@include list-reset;

	@include grid-media($tablet-landscape-up) {
		text-align: center;
	}

	> .menu-item {

		@include grid-media($tablet-landscape-up) {
			display: inline-block;

			+ .menu-item {
				margin-left: rem(20);
			}
		}
	}
}

.menu-item {
	
	> a {
		display: block;
		padding: rem(5) 0;
		text-decoration: none;

		@include grid-media($tablet-landscape-up) {
			padding-left: rem(10);
			padding-right: rem(10);
		}
	}

	&.menu-item-has-children {
		position: relative;

		@include grid-media($tablet-landscape-up) {

			> a {
				padding-right: rem(40);
			}
		}
	}
}


//-----------------------------------------
// Sub Menus
//-----------------------------------------
.sub-menu {
	@include list-reset;

	display: none;

	@include grid-media($tablet-landscape-up) {
		@include position(absolute, 101% null null 0);

		background-color: $color__sub-menu-background;
		min-width: rem(175);
		text-align: left;
		width: 100%;

		.reverse-expand & {
			left: auto;
			right: 0;

			.sub-menu {
				left: -100%;
			}
		}

		.sub-menu {
			left: 100%;
			top: 0;
		}
	}
}


//-----------------------------------------
// Sub Menu Toggles
//-----------------------------------------
.sub-level-toggle {
	@include position(absolute, 0 0 null null);
	@include size(rem(34));

	background-color: transparent;

	&:hover,
	&:active,
	&:focus {
		background-color: transparent;
	}

	.sub-level-toggle-span {
		@include position(absolute, 0 0 0 0);
		@include size(rem(12) rem(2));

		background-color: $color__menu-sub-toggle;
		margin: auto;
	}

	.span-2 {
		transform: rotate(90deg);
		transition: $transition__transform;

		.toggled > & {
			transform: rotate(0);
		}
	}

	// The chevron sub menu toggle.
	.sub-menu-toggle-style-chevron & {

		.sub-level-toggle-span {
			@include position(absolute, 25% auto 0 auto);

			transition: $transition__transform;
			transform: rotate 0.3s ease-in-out;
			width: rem(11.5);
		}

		.span-1 {
			right: 49%;
			transform: rotate(45deg);
			transform-origin: 100%;
		}

		.span-2 {
			left: 49%;
			transform: rotate(-45deg);
			transform-origin: 0;
		}

		&.toggled {
			transform: rotateX(180deg);
		}
	}
}
