//--------------------------------------------------------------
// PRIMARY NAVIGATION
//--------------------------------------------------------------


//-----------------------------------------
// Mobile Style Default
//-----------------------------------------
.main-navigation {
	background-color: color(white);
	display: none;
	padding: $size__padding;

	@include grid-media($tablet-landscape-up) {
		display: block;
	}

	&.toggled {
		display: block;
	}
}


//-----------------------------------------
// Full Screen Menu Style
//-----------------------------------------
.mobile-nav-style-full-screen {

	.toggled {

		&.main-navigation {
			@include position(absolute, 0 0 0 0);

			background-color: color(white);
		}
	}

	&.admin-bar {

		.main-navigation {
			top: rem(46);

			@include grid-media($wp-admin-bar) {
				top: rem(32);
			}
		}
	}

	&.menu-open {
		
		.mobile-menu-toggle {
			right: $size__padding;
		}
	}
}


//-----------------------------------------
// Slide-in Mobile Navigation
//-----------------------------------------

// Shared styles.
.mobile-nav-style-slide-left,
.mobile-nav-style-slide-right {
	
	&.admin-bar {

		.main-navigation {
			top: rem(46);

			@include grid-media($wp-admin-bar) {
				top: rem(32);
			}
		}
	}

	.main-navigation {
		background-color: color(white);
		display: block;
		max-width: 100%;
		overflow-y: scroll;
		transition: $transition__transform;
		z-index: 2;

		@include media(null, $tablet-landscape-up) {
			@include size(rem(400) 100vh);
		}

		&.toggled {
			transform: translateX(0);
		}
	}

	// When the menu is open.
	&.menu-open {
		overflow: hidden; // prevents body from scrolling.

		.menu-screen {
			@include position(absolute, 0 0 0 0);

			background-color: rgba(color(black), 0.7);
			z-index: 1;
		}
	}
}

// Slide from left.
.mobile-nav-style-slide-left {

	.main-navigation {

		@include media(null, $tablet-landscape-up) {
			@include position(fixed, 0 null 0 0);

			transform: translateX(-400px);
		}
	}

	&.menu-open {
		
		.mobile-menu-toggle {
			left: calc(400px - (200px + #{$size__padding}));
		}

		&.mobile-nav-toggle-style-hamburger {

			.mobile-menu-toggle {
				left: calc(400px - (25px + #{$size__padding}));
			}
		}
	}
}

// Slide from right.
.mobile-nav-style-slide-right {

	.main-navigation {

		@include media(null, $tablet-landscape-up) {
			@include position(fixed, 0 0 0 null);

			transform: translateX(400px);
		}
	}

	&.menu-open {
		
		.mobile-menu-toggle {
			right: $size__padding;
		}
	}
}
