//--------------------------------------------------------------
// PRIMARY NAVIGATION
//--------------------------------------------------------------
.menu-screen {
	background-color: transparent;
	transition: background-color 0.3s ease-in-out;
}

.main-navigation {
	@include position(absolute, 0 0 0 null);
	@include size(0 100vh);

	background-color: $true-white;
	max-width: 100%;
	overflow-y: scroll;

	@include grid-media($tablet-landscape-up) {
		@include size(auto);

		position: relative;
		overflow: initial;
	}
}

.primary-menu {
	@include margin-padding-reset;

	padding-top: $size__padding * 2;
	transition: $transition__click;

	@include grid-media($tablet-landscape-up) {
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		padding-top: 0;
		max-width: $size__navigation;
	}

	.logged-in & {

		&.open {
			top: 46px;

			@include grid-media ($tablet-portrait-up) {
				top: auto;
			}
		}
	}
}


//-------------------------------
// Menu Items
//-------------------------------
.menu-item {

	@include grid-media($tablet-landscape-up) {
		display: inline-block;
	}

	// This needs to be scoped to the primary menu so it doesn't break the social navigation.
	.primary-menu & > a {
		display: block;
		padding: 5px 0;
		text-decoration: none;

		@include grid-media($tablet-landscape-up) {
			display: inline-block;
			padding: 10px;
		}
	}

	&-has-children {
		position: relative;

		@include grid-media($tablet-landscape-up) {

			> a {
				padding-right: 50px;
			}
		}
	}
}


//-------------------------------
// Sub Menu
//-------------------------------
.sub-menu {
	display: none;
	padding-left: $size__padding;

	@include grid-media($tablet-portrait-up) {
		background-color: $true-white;
		min-width: 175px;
		padding-left: 0;
		position: absolute;
		text-align: left;
		top: 101%;
		width: 100%;
	}

	.menu-item {
		display: block;
	}

	.sub-menu {
		left: 100%;
		top: 0;
	}

	@include grid-media($tablet-landscape-up) {
		.menu-item:last-child > & {
			right: 0;
		}
	}
}

//-----------------------------------------
// Mobile Menu Toggle
//-----------------------------------------
.mobile-menu-toggle {
	@include size(rem(25) rem(21));

	background-color: transparent;
	position: relative;
	z-index: 6;

	&:hover {
		background-color: transparent;
	}

	@include grid-media($tablet-landscape-up) {
		display: none;
	}

	@include element(bar) {
		@include size(rem(25) rem(3));

		background-color: $alcatraz-blue;
		display: block;
		left: 0;
		margin: auto;
		position: absolute;
		transition: transform 0.3s ease-in-out;

		&.bar-1 {
			top: 0;

			.mobile-menu-is-visible & {
				bottom: 0;
				transform: rotate(45deg);
			}
		}

		&.bar-2 {
			bottom: 0;
			top: 0;

			.mobile-menu-is-visible & {
				display: none;
			}
		}

		&.bar-3 {
			bottom: 0;

			.mobile-menu-is-visible & {
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}