//--------------------------------------------------------------
// SUB-PAGE NAVIGATION
//--------------------------------------------------------------
.alcatraz-sub-page-nav {
	margin: 0 0 rem(25);
	position: relative;

	.sub-page-nav-top-level {
		margin: 0;
		padding: 0;
	}

	ul {
		list-style: none;
	}

	li {
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;

		&:last-child {
			border-bottom: none;
		}
	}

	li a {
		display: block;
		padding: rem(10) rem(15);
	}

	.page_item_has_children > a {
		padding-right: rem(50);

		&.sub-level-toggle {
			padding: rem(10) 0;
			right: rem(5);
		}
	}

	ul ul {
		display: none;
		margin: 0;
		padding: 0 0 0 rem(20);
	}

	.current_page_ancestor > ul {
		display: block;
	}

	.current_page_item {
		font-weight: 500;
	}
}
