//--------------------------------------------------------------
// SUB-PAGE NAVIGATION
//--------------------------------------------------------------
.alcatraz-sub-page-nav {
	margin: 0 0 rem(25);
	position: relative;

	.menu {
		@include margin-padding-reset;

		text-align: left;
	}

	.page_item {
		
		> a {
			display: block;
			padding: rem(5) 0;
		}
	}
	
	.page_item_has_children {
		position: relative;
	}

	.children {
		@include margin-padding-reset;

		display: none;
	}

}
