html {
	font-size: $base-font-size * 1px;
}

body,
button,
input,
select,
textarea {
	background-color: $body-background; // stylelint-disable-line order/properties-alphabetical-order
	color: $text-default-dark;
	font-family: $base-font-family;
	-webkit-font-smoothing: antialiased;
	font-weight: $base-font-weight;
	line-height: unitless-calc($base-line-height, $base-font-size);
	word-wrap: break-word;
}
