//--------------------------------------------------------------
// BREAKPOINTS
//
// Breakpoints are based on those discussed in
// https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862#.or3duno2h.
// Add additional widths as needed.
//--------------------------------------------------------------


// Common breakpoints
$tablet-portrait-up: (
	media: 600px,
);
$wp-admin-bar: (
	media: 783px,
);
$tablet-landscape-up: (
	media: 900px,
);
$desktop-up: (
	media: 1200px,
);
$desktop-large-up: (
	media: 1800px,
);
