//--------------------------------------------------------------
// SIZES
//--------------------------------------------------------------


//-------------------------------
// Layout
//-------------------------------
$size__padding: rem(20);
$size__layout-boxed: rem(1100);
$size__layout-boxed-content: rem(1100);
$size__content-width: rem(750);


//-------------------------------
// Navigation
//-------------------------------
$size__navigation: rem(1100);
