//--------------------------------------------------------------
// BUTTONS
//--------------------------------------------------------------
.button,
button,
input[type='button'],
input[type='submit'] {
	appearance: none;
	background-color: $color__button-background;
	border: none;
	color: $color__button-text;
	cursor: pointer;
	display: inline-block;
	outline: none;
	padding: rem(10);
	transition: $transition__hover;

	&:hover {
		background-color: $color__button-background-hover;
	}
}

.button-text {
	display: inline-block;
	text-decoration: none;
	transition: $transition__hover;

	&:after {
		content: $text__button-text-caret;
		display: inline-block;
		font-family: $text__button-text-font;
		margin: 0 0 0 rem(5);
		transition: $transition__hover;
	}

	&:hover {

		&:after {
			transform: translateX(rem(3));
		}
	}
}
