//--------------------------------------------------------------
// FORMS
//--------------------------------------------------------------
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea {
	border: $border__forms;
	box-sizing: border-box;
	color: $color__forms-text;
	max-width: 100%;
	padding: rem(5);
	width: 100%;

	&:focus {
		border: $border__forms-focus;
		outline: none;
	}
}

input[type='checkbox'],
input[type='radio'] {
	@include size(rem(20));

	appearance: none;
	border: $border__checkbox;
	border-radius: rem(3);
	outline: none;
	position: relative;

	&:checked {
		background-color: $color__checkbox-background-checked;
		border: none;

		&:before {
			@include position(absolute, 0 0 0 0);

			color: $color__checkbox-text-checked;
			font-family: $text__checkbox;
			margin: auto;
		}
	}
}

input[type='checkbox'] {

	&:checked {

		&:before {
			@include position(absolute, 0 0 0 0);

			content: $text__checkbox-checked;
			line-height: rem(20);
			width: rem(18);
		}
	}
}

input[type='radio'] {
	border-radius: 50%;

	&:checked {

		&:before {
			@include size(rem(8));

			background-color: $color__radio-background-checked;
			border-radius: 50%;
			content: '';
			display: block;
		}
	}
}

select {
	outline: none;
}
