html {
  font-size: 16px; }

body,
button,
input,
select,
textarea {
  background-color: #fff;
  color: #1f2933;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
  word-wrap: break-word; }

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  display: inline-block;
  padding: 0.5em 1em; }

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
textarea {
  border: 1px solid #9aa5b1; }

img {
  height: auto;
  max-width: 100%; }

code,
kbd,
pre,
samp,
tt,
var {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

pre {
  overflow-x: scroll; }

a {
  color: #35469c; }
  a:visited {
    color: #35469c; }
  a:focus, a:hover {
    color: #4c63b6; }
  a:active {
    color: #4c63b6; }

.comment + .comment,
.children .comment {
  margin-top: 1rem; }

.comment-form label {
  display: block;
  font-weight: 700; }

.comment-form input[type="color"],
.comment-form input[type="date"],
.comment-form input[type="datetime"],
.comment-form input[type="datetime-local"],
.comment-form input[type="email"],
.comment-form input[type="month"],
.comment-form input[type="number"],
.comment-form input[type="password"],
.comment-form input[type="search"],
.comment-form input[type="tel"],
.comment-form input[type="text"],
.comment-form input[type="time"],
.comment-form input[type="url"],
.comment-form input[type="week"],
.comment-form textarea {
  width: 100%; }

.comment-form-cookies-consent label {
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: middle; }

.footer-credits {
  padding: 1rem 0;
  text-align: center; }

.has-footer-widgets .footer-widget-areas {
  display: grid; }

.menu {
  margin: 0;
  padding: 0; }
  .toggled .menu {
    display: block; }
  .menu a {
    padding: 0.5em; }

.menu-item {
  position: relative; }

.sub-menu {
  background-color: #fff;
  display: none;
  margin: 0;
  padding: 0;
  z-index: 5; }
  .sub-menu .sub-menu {
    margin-left: 1rem; }

.post-navigation,
.posts-navigation {
  margin-top: 2rem;
  padding: 1rem 0; }

.nav-links {
  display: flex; }

.nav-previous,
.nav-next {
  flex: 0 0 50%;
  overflow: hidden; }

.nav-next {
  margin-left: auto;
  text-align: right; }

.site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  position: relative; }

.site {
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem;
  width: 1600px; }

.site-content {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px; }

.wp-caption {
  max-width: 100%; }
  .wp-caption-text {
    margin-bottom: 1rem;
    margin-top: 0.5rem; }

.menu-open {
  overflow: hidden; }
  .menu-open .menu-screen {
    background-color: rgba(50, 63, 75, 0.15);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2; }

.site-title {
  font-size: 1.875rem;
  margin: 0; }
  .site-title a {
    text-decoration: none; }

.social-links-menu {
  display: flex;
  justify-content: center;
  padding: 1rem 0; }
  .social-links-menu .menu-item + .menu-item {
    margin-left: 1rem; }
  .social-links-menu a {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem; }
    .social-links-menu a[href*="behance"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/behance-square.svg) no-repeat; }
    .social-links-menu a[href*="blogger"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/blogger.svg) no-repeat; }
    .social-links-menu a[href*="dribbble"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/dribbble-square.svg) no-repeat; }
    .social-links-menu a[href*="facebook"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/facebook-square.svg) no-repeat; }
    .social-links-menu a[href*="flickr"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/flickr.svg) no-repeat; }
    .social-links-menu a[href*="github"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/github-square.svg) no-repeat; }
    .social-links-menu a[href*="google"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/google-plus-square.svg) no-repeat; }
    .social-links-menu a[href*="hacker-news"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/hacker-news-square.svg) no-repeat; }
    .social-links-menu a[href*="instagram"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/instagram.svg) no-repeat; }
    .social-links-menu a[href*="kickstarter"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/kickstarter.svg) no-repeat; }
    .social-links-menu a[href*="linkedin"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/linkedin.svg) no-repeat; }
    .social-links-menu a[href*="pinterest"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/pinterest-square.svg) no-repeat; }
    .social-links-menu a[href*="reddit"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/reddit-square.svg) no-repeat; }
    .social-links-menu a[href*="snapchat"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/snapchat-square.svg) no-repeat; }
    .social-links-menu a[href*="twitter"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/twitter-square.svg) no-repeat; }
    .social-links-menu a[href*="vimeo"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/vimeo-square.svg) no-repeat; }
    .social-links-menu a[href*="youtube"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/youtube-square.svg) no-repeat; }
    .social-links-menu a[href*="mailto"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/envelope-square.svg) no-repeat; }
    .social-links-menu a[href*="tel"] {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/phone-square.svg); }

.mobile-menu-toggle {
  background-color: transparent;
  max-width: 20px;
  padding: 7.5px 10px;
  position: relative;
  text-indent: -9999em;
  margin-left: auto;
  right: 1rem;
  z-index: 4; }
  .mobile-menu-toggle .bars, .mobile-menu-toggle .bars:after, .mobile-menu-toggle .bars:before {
    background-color: #35469c;
    display: block;
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: all 0.3s ease-in-out;
    width: 20px; }
  .mobile-menu-toggle .bars:after, .mobile-menu-toggle .bars:before {
    content: ''; }
  .mobile-menu-toggle .bars:before {
    top: -6px; }
  .mobile-menu-toggle .bars {
    top: 50%;
    transform: translateY(-50%); }
  .mobile-menu-toggle .bars:after {
    bottom: -6px; }
  .mobile-menu-toggle:hover {
    background-color: transparent; }
    .mobile-menu-toggle:hover .bars, .mobile-menu-toggle:hover .bars:after, .mobile-menu-toggle:hover .bars:before {
      background-color: #35469c; }
  .menu-open .mobile-menu-toggle:hover .bars, .menu-open .mobile-menu-toggle:focus .bars, .menu-open .mobile-menu-toggle:active .bars {
    background-color: transparent; }
  .menu-open .mobile-menu-toggle .bars {
    background-color: transparent; }
  .menu-open .mobile-menu-toggle .bars:after, .menu-open .mobile-menu-toggle .bars:before {
    background-color: #35469c;
    top: calc(50% - 3px / 2);
    transform: translateY(-50%); }
  .menu-open .mobile-menu-toggle .bars:before {
    transform: rotate(45deg); }
  .menu-open .mobile-menu-toggle .bars:after {
    transform: rotate(-45deg); }

.sub-level-toggle {
  background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/chevron-down.svg);
  height: 1rem;
  position: absolute;
  right: 0;
  top: 0.3125rem;
  width: 1rem; }

.alignnone {
  margin: 0; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft {
  float: left;
  margin-right: 1rem; }

.alignright {
  float: right;
  margin-left: 1rem; }

.alignfull {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw; }

.alignwide {
  width: 100%; }

.has-primary-color {
  color: #35469c !important; }

.has-primary-background-color {
  background-color: #35469c !important; }

.has-accent-color {
  color: #e8982f !important; }

.has-accent-background-color {
  background-color: #e8982f !important; }

.has-success-color {
  color: #199473 !important; }

.has-success-background-color {
  background-color: #199473 !important; }

.has-warning-color {
  color: #f0b429 !important; }

.has-warning-background-color {
  background-color: #f0b429 !important; }

.has-danger-color {
  color: #cf1124 !important; }

.has-danger-background-color {
  background-color: #cf1124 !important; }

.has-gray-mid-color {
  color: #9aa5b1 !important; }

.has-gray-mid-background-color {
  background-color: #9aa5b1 !important; }

.has-gray-light-color {
  color: #f5f7fa !important; }

.has-gray-light-background-color {
  background-color: #f5f7fa !important; }

.has-gray-dark-color {
  color: #323f4b !important; }

.has-gray-dark-background-color {
  background-color: #323f4b !important; }

.has-small-font-size {
  font-size: 0.75rem !important; }

.has-regular-font-size {
  font-size: 1rem !important; }

.has-large-font-size {
  font-size: 1.875rem !important; }

.has-larger-font-size {
  font-size: 2.625rem !important; }

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

@media only screen and (min-width: 900px) {
  .footer-widget-areas-2 .footer-widget-areas {
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr); }
  .footer-widget-areas-3 .footer-widget-areas {
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr); }
  .footer-widget-areas .footer-widget-areas-4 {
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr); }
    .menu {
      align-items: center;
      display: flex; }
    .sub-menu {
      left: 0;
      position: absolute;
      top: 100%;
      width: 15.625rem; }
      .menu-item-has-children:last-of-type .sub-menu {
        left: auto;
        right: 0; }
  .menu-item-has-children {
    align-items: center;
    display: inline-flex; }
    .menu-item-has-children::after {
      background: url(/Users/carrie/Desktop/WordPress/alcatraz/app/public/wp-content/themes/alcatraz/src/icons/chevron-down.svg) no-repeat;
      content: '';
      display: block;
      height: 1rem;
      width: 1rem; }
    .menu-item-has-children:hover > .sub-menu {
      display: block; }
  .page-template-layout-with-sidebar .site-content {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: minmax(auto, calc(100% - (300px + 1rem))) 300px; }
    .site-header {
      overflow: visible; }
    .mobile-menu-toggle {
      display: none; }
    .sub-level-toggle {
      display: none; } }

@media only screen and (max-width: 899px) {
  .main-navigation {
    background-color: #fff;
    bottom: 0;
    max-width: 100%;
    padding: 3rem 1rem 1rem;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(25rem);
    transition: transform 0.3s ease-in-out;
    width: 25rem;
    z-index: 3; }
    .main-navigation.toggled {
      transform: translateX(0); } }

