/**
 * 3.2 Forms
 */

/* Labels */
label {
	display: block;
	font-weight: 500;
}

/* Fields */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	vertical-align: text-bottom;
	border: $border__input;
	color: $color__text-input;

	&:focus {
		border: $border__input-focus;
		color: $color__text-input-focus;
		outline: none;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: em(5);
}

textarea {
	width: 100%;
	padding: em(5);
}

/* Buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: em(10) em(15);
	border: $border__button;
	background-color: $color__background-button;
	color: $color__text-button;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition: all 0.2s ease-in;

	&:hover,
	&:active,
	&:focus {
		border: $border__button-hover;
		background-color: $color__background-button-hover;
		color: $color__text-button-hover;
	}
}
