//--------------------------------------------------------------
//   3.3 MEDIA
//-------------------------------------------------------------

img {
	height: auto;
	margin-bottom: rem(15);
	max-width: 100%;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin: 0;
	padding: 0;
}


// Make sure embeds and iframes fit their containers.
embed,
iframe,
object {
	max-width: 100%;
}


// Post Thumbnail
.post-thumbnail {
	background-color: $color__background-featured-image;
	display: block;

	img {
		@include center-block;
		margin-bottom: rem(20);
	}
}


// Captions
.wp-caption {
	margin: rem(10) 0 rem(18);
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}
}

.wp-caption-text {
	font-size: rem(14);
	font-weight: 500;
	margin: rem(10) 0;
	text-align: center;
}


// Galleries
.gallery {
	margin-bottom: rem(25);
	overflow: hidden;
}

.gallery-item {
	display: inline-block;
	margin: rem(20) 0;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.gallery-columns-1 &,
	.gallery-columns-2 &,
	.gallery-columns-3 &,
	.gallery-columns-4 &,
	.gallery-columns-5 &,
	.gallery-columns-6 &,
	.gallery-columns-7 &,
	.gallery-columns-8 &,
	.gallery-columns-9 & {
		padding: rem(15);
		width: 100%;
	}

	@media (min-width: em(768)) {
		.gallery-columns-1 & {
			@include span-columns( 10 of 10 );
		}

		.gallery-columns-2 & {
			@include span-columns( 5 of 10 );

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(2n+1) {
				clear: both;
			}
		}

		.gallery-columns-3 & {
			@include span-columns( 3.33333 of 10 );

			&:nth-child(3n) {
				margin-right: 0;
			}

			&:nth-child(3n+1) {
				clear: both;
			}
		}

		.gallery-columns-4 & {
			@include span-columns( 2.5 of 10 );

			&:nth-child(4n) {
				margin-right: 0;
			}

			&:nth-child(4n+1) {
				clear: both;
			}
		}

		.gallery-columns-5 & {
			@include span-columns( 2 of 10 );

			&:nth-child(5n) {
				margin-right: 0;
			}

			&:nth-child(5n+1) {
				clear: both;
			}
		}

		.gallery-columns-6 & {
			@include span-columns( 1.66667 of 10 );

			&:nth-child(6n) {
				margin-right: 0;
			}

			&:nth-child(6n+1) {
				clear: both;
			}
		}

		.gallery-columns-7 & {
			@include span-columns( 1.42857 of 10 );

			&:nth-child(7n) {
				margin-right: 0;
			}

			&:nth-child(7n+1) {
				clear: both;
			}
		}

		.gallery-columns-8 & {
			@include span-columns( 1.25 of 10 );

			&:nth-child(8n) {
				margin-right: 0;
			}

			&:nth-child(8n+1) {
				clear: both;
			}
		}

		.gallery-columns-9 & {
			@include span-columns( 1.11111 of 10 );

			&:nth-child(9n) {
				margin-right: 0;
			}

			&:nth-child(9n+1) {
				clear: both;
			}
		}

		.gallery-columns-10 & {
			@include span-columns( 1 of 10 );

			&:nth-child(10n) {
				margin-right: 0;
			}

			&:nth-child(10n+1) {
				clear: both;
			}
		}
	}
}

.gallery-caption {
	display: block;
}

.tiled-gallery .gallery-row {
	margin: 0 auto;

	&:last-child {
		margin-bottom: em(25);
	}
}

// oEmbeds
.twitter-tweet {
	margin: 0 auto;
}
