//--------------------------------------------------------------
//   3.5 TABLES
//--------------------------------------------------------------


table {
	border: $border__table;
	margin: 0 0 rem(25);
	width: 100%;
}

thead {
	background-color: $color__background-table-thead;
	border-bottom: $border__table;
	color: $color__text-table-thead;
}

tr:nth-child(even) {
	background-color: $color__background-table-row;
}

th,
td {
	padding: em(8);
	border-right: $border__table;

	:last-child {
		border: none;
	}
}
