/**
 * 3.3 Tables
*/

table {
	margin: 0 0 1.5em;
	border: em(1) solid $color__border-table;
	width: 100%;
}

thead {
	border-bottom: em(1) solid $color__border-table;
	background-color: darken($color__background-table-row, 30%);
	color: #fff;
}

tr:nth-child(even) {
	background-color: $color__background-table-row;
}

th,
td {
	padding: em(8);
	border-right: em(1) solid $color__border-table;

	:last-child {
		border: none;
	}
}
