/**
 * 3.4 Widgets
 */

.widget {
	margin: 0 0 em(25);

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.primary-sidebar .widget-title,
.primary-sidebar .alcatraz-sub-page-nav-title {
	@include font-size(20);
}

/* WordPress Calendar */

#wp-calendar {
	max-width: 100%;

	caption {
		font-weight: 500;
		text-transform: uppercase;
	}

	tr {
		border-bottom: $border__table;
	}

	td,
	th {
		text-align: center;

		@media (min-width: em(768)) {
			padding: 0;
		}

		@media (min-width: em(1120)) {
			padding: em(10);
		}
	}
}

/* Search Form */
.search-form {
	overflow: hidden;
}

.search-field {
	float: left;
	margin-right: 10px;
	margin-right: calc(10px);
	width: 180px;
	width: calc(100% - 115px);
}

input[type="submit"].search-submit {
	float: right;
	padding: 4.5px 10px;
}
