//--------------------------------------------------------------
//   3.3 FORMS
//-------------------------------------------------------------

// Labels
label {
	display: block;
	font-weight: 500;
}

// Field inputs
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border: $border__input;
	color: $color__text-input;
	vertical-align: text-bottom;

	&:focus {
		border: $border__input-focus;
		color: $color__text-input-focus;
		outline: none;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: rem(5);
}

textarea {
	width: 100%;
	padding: rem(5);
}

// Buttons
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: rem(10) rem(15);
	border: $border__button;
	background-color: $color__background-button;
	color: $color__text-button;
	font-weight: 500;
	letter-spacing: rem(0.5);
	text-transform: uppercase;
	transition: all 0.2s ease-in;

	&:hover,
	&:active,
	&:focus {
		border: $border__button-hover;
		background-color: $color__background-button-hover;
		color: $color__text-button-hover;
	}
}
