//--------------------------------------------------------------
//   4.2 NAVIGATION
//--------------------------------------------------------------


// Links
a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}


/* Pagination Styles */
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 rem(1.5);
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;

		a::before {
			content: '\00ab';
			margin-right: rem(5);
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		a::after {
			content: '\00bb';
			margin-left: rem(5);
		}
	}
}


// Sub Page Nav Styles
.alcatraz-sub-page-nav {
	margin: 0 0 rem(25);
	position: relative;

	.sub-page-nav-top-level {
		margin: 0;
		padding: 0;
	}

	ul {
		list-style: none;
	}

	li {
		border-bottom: $border__sub-page-nav-item;
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;

		&:last-child {
			border-bottom: none;
		}
	}

	li a {
		color: $color__link-nav;
		display: block;
		padding: rem(10) rem(15);

		&:hover {
			color: $color__link-nav-hover;
		}
	}

	.page_item_has_children > a {
		padding-right: rem(50);

		&.sub-level-toggle {
			padding: rem(10) 0;
			right: rem(5);
		}
	}

	ul ul {
		display: none;
		margin: 0;
		padding: 0 0 0 rem(20);
	}

	.current_page_ancestor > ul {
		display: block;
	}

	.children.toggled li {
		border-bottom: $border__sub-page-nav-item;

		&:first-child {
			border-top: $border__sub-page-nav-item;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.current_page_item {
		font-weight: 500;
	}
}
