//--------------------------------------------------------------
// FORMS
//-------------------------------------------------------------

// Labels
label {
	display: block;
	font-weight: 500;
}

// Field inputs
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border: $border__forms;
	color: $color__forms-text;
	padding: rem(5);
	vertical-align: text-bottom;

	&:focus {
		border: $border__forms-focus;
		outline: none;
	}
}

textarea {
	width: 100%;
}
