//--------------------------------------------------------------
// FORMS
//-------------------------------------------------------------

// Labels
label {
	display: block;
	font-weight: 500;
}

// Field inputs
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border: $border__forms;
	color: $color__forms-text;
	padding: rem(5);
	vertical-align: text-bottom;

	&:focus {
		border: $border__forms-focus;
		outline: none;
	}
}

textarea {
	width: 100%;
}

// Sanitize.scss removes the border 😬
select {
	border: $border__forms;
}


//-----------------------------------------
// Search Field
//-----------------------------------------
.search-form {
	line-height: 1; // keeps the submit from overflowing the form.
	position: relative;

	.search-field {
		width: 100%;
	}

	.search-submit {
		@include position(absolute, 0 0 0 null);

		line-height: 1; // keeps the search text centered.
		margin: 1px; // makes the button visually fit within the search better.
	}
}
