//--------------------------------------------------------------
// MEDIA
//--------------------------------------------------------------
figure {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}
