//--------------------------------------------------------------
// MEDIA
//--------------------------------------------------------------
figure {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}


//-----------------------------------------
// Site Logo
//-----------------------------------------
.wp-custom-logo {

	.site-title,
	.site-description {
		@extend .screen-reader-text;
	}
}

.logo-wrap {
	margin: 0 auto;
	max-width: rem(300);
}
