//--------------------------------------------------------------
//   3.5 TABLES
//--------------------------------------------------------------


table {
	border: $border__table;
	margin: 0 0 rem(25);
	width: 100%;
}

thead {
	font-weight: 700;
}

th,
td {
	padding: em(8);
	border-right: $border__table;

	:last-child {
		border: none;
	}
}
