//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------

// Set the base font size.
html {
	font-size: $base-context;
}

body,
button,
input,
select,
textarea {
	color: $color__body-text;
	font: 400 1em/#{$font__body-line-height} $font__body;
}

//-----------------------------------------
// Headings
//-----------------------------------------
#{headings(1, 6)} {
	margin: 0 0 0.5em; // Use em to keep space proportional to font size.
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}


//-----------------------------------------
// Inline Elements
//-----------------------------------------
p {
	margin: 0 0 1.5em;
}

a {
	color: $color__link;

	&:visted {
		color: $color__link-visited;
	}

	&:hover,
	&:active {
		color: $color__link-hover;
	}
}

abbr[title] {
	border-bottom: $border__abbr;
	text-decoration: none;

	&:hover {
		cursor: help;
	}
}

address {
	margin-bottom: 1.5em;
}

blockquote {
	font-size: 1.25em;

	cite {
		display: block;
	}
}

cite {
	font-weight: 700;
}

ins,
mark {
	background-color: $color__ins;
	text-decoration: none;
}

code,
kbd,
pre,
samp,
tt,
var {
	font: 400 #{$font__code-size} / #{$font__code-line-height} $font__code;
}

pre {
	border: $border__pre;
	overflow-x: scroll;
	padding: $size__padding;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: 1.25em;
}
