//--------------------------------------------------------------
// UTILITIES
//--------------------------------------------------------------

//-----------------------------------------
// Inherit box-sizing to make it easier to
// change the property for components that
// leverage other behavior.
// @link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//-----------------------------------------
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: $color__body-background; // Fallback for when there is no custom background color defined.
	overflow-x: hidden;
}

body.mce-content-body {
	padding: rem(15) !important;
}

hr {
	height: rem(2);
	border: 0;
	margin: 1em 0;
	background-color: $color__hr;
}

// Do not show the outline on the skip link target.
#content[tabindex="-1"]:focus {
	outline: 0;
}


//-----------------------------------------
// Utility classes
//-----------------------------------------
.screen-reader-text {
	@include hide-text;
}


// Clearings
.clear,
.comment-content,
.entry-content,
.site-content,
.site-footer,
.site-header {
	@include clearfix;
}


// Infinite scroll
.infinite-scroll .posts-navigation, // Older / Newer Posts Navigation (always hidden)
.infinite-scroll.neverending .site-footer { // Theme Footer (when set to scrolling)
	display: none;
}

// When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before.
.infinity-end.neverending .site-footer {
	display: block;
}
