/**
 * 2.4 Defaults
 *
 * Sets basic defaults that are not set in normalize.scss.
 */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	overflow-x: hidden;
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

body.mce-content-body {
	padding: em(15) !important;
}

hr {
	height: 2px;
	border: 0;
	margin: 1em 0;
	background-color: $color__background-hr;
}

/**
 * 2.4.1 Accessibility
 */

/* Text meant only for screen readers. */
.screen-reader-text {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);

	&:focus {
		top: 5px;
		left: 5px;
		z-index: 100000; /* Above WP toolbar. */
		display: block;
		width: auto;
		height: auto;
		padding: 15px 23px 14px;
		border-radius: 3px;
		background-color: $color__background-screen;
		color: $color__text-screen;
		@include font-size(10);
		font-weight: bold;
		line-height: normal;
		text-decoration: none;
		box-shadow: $color__box-shadow-screen;
		clip: auto !important;
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/**
 * 2.4.2 Alignments
 */

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

.alignnone {
	display: inline;
	margin-right: 1.5em;
	margin-left: 1.5em;
}

/**
 * 2.4.3 Clearings
 */

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	@include clearfix;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	@include clearfix-after;
}

/**
 * 2.4.4 Infinite Scroll
 */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
