/**
 * 2.5 Grid
 */

/**
 * 2.5.1 Column Classes
 */

.site-content [class^="column-"] {
	float: left;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
	width: 100%;
}

@media (min-width: $breakpoint__600px) {
	.site-content [class^="column-"] {
		margin-left: 2.604166667%;
	}
	.site-content [class^="column-"]:first-child {
		margin-left: 0;
	}
	.site-content [class^="column-"]:last-child {
		float: right;
	}

	.column-1 {
		width: 5.946180556%;
	}
	.column-2 {
		width: 14.49652778%;
	}
	.column-3 {
		width: 23.046875%;
	}
	.column-4 {
		width: 31.59722222%;
	}
	.column-5 {
		width: 40.14756945%;
	}
	.column-6 {
		width: 48.69791667%;
	}
	.column-7 {
		width: 57.24826389%;
	}
	.column-8 {
		width: 65.79861111%;
	}
	.column-9 {
		width: 74.34895834%;
	}
	.column-10 {
		width: 82.89930556%;
	}
	.column-11 {
		width: 91.44965278%;
	}
	.column-12 {
		width: 100%;
	}
}
