/**
 * 2.3 Mixins
 */

/* Em output with px fallback (pixel fall backs will make adjusting font sizing easier later) */
@mixin font-size( $sizeValue: 16 ) {
	font-size: $sizeValue * 1px;
	font-size: em($sizeValue);
}

/* Center - makes the assumption the element is already block */
@mixin center {
	margin-left: auto;
	margin-right: auto;
}

/* Center block */
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Clearfix */
@mixin clearfix {
	content: "";
	display: table;
	table-layout: fixed;
	width: 100%;
}

/* Clear after (not all clearfix need this also) */
@mixin clearfix-after {
	clear: both;
}

/* Image Replacement */
@mixin hide-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Larger Screen Nav Display Styles
@mixin large-screen-nav-display( $display: 'inline-block' ) {
	.main-navigation #primary-menu-wrap,
	.mobile-nav-style-slide-left.admin-bar #primary-menu-wrap,
	.mobile-nav-style-slide-right.admin-bar #primary-menu-wrap {
		top: auto;
		position: static;
		top: auto;
		left: auto;
		right: auto;
		height: auto;
		min-height: auto;
		width: auto;
		opacity: 1;
		text-align: center;
	}

	.main-navigation #primary-menu,
	.mobile-nav-style-slide-left #primary-menu,
	.mobile-nav-style-slide-right #primary-menu {
		min-height: auto;
		height: auto;
		padding-top: 0;
		padding-bottom: 0;
		display: $display;
		position: static;
		text-align: center;
		overflow: visible;
	}

	.main-navigation #primary-menu .menu-item {
		display: $display;
		width: auto;
		text-align: left;
	}
}

// Larger Screen Nav Dropdown Styles
@mixin large-screen-nav-dropdown {
	.main-navigation #primary-menu {
		.menu-item {
			&.menu-item-has-children a {
				padding-right: $size__default-padding;
			}

			&:hover > .sub-menu,
			&.hovered > .sub-menu {
				display: block;
			}

			a.sub-menu-toggle {
				display: none;
			}

			> .sub-menu {
				position: absolute;

				.sub-menu {
					left: 100%;
					top: 0;
				}
			}
		}

		> .menu-item {
			&.reverse-expand {
				.sub-menu {
					right: 0;
				}
			}

			.sub-menu .menu-item.reverse-expand .sub-menu {
				left: -100%;
			}
		}
	}

	.main-navigation #primary-menu {

		.sub-menu {
			position: relative;
			padding: 0;
			text-align: left;
			background-color: $true-white;
			border-bottom: 3px solid $prision-cell-gray;
			box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.5);

			.menu-item {
				display: block;
				width: 100%;

				a {
					color: $prision-cell-gray;

					&:hover {
						color: $color__link-hover;
					}
				}
			}
		}
	}
}

// Inner-menu close trigger.
@mixin inner-menu-close {
	width: 45px;
	height: 45px;
	text-indent: -101%;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
	display: none;

	&:hover .inner-menu-toggle-span {
		background-color: darken($alcatraz-blue, 10%);
	}

	.inner-menu-toggle-span {
		position: absolute;
		top: 22px;
		left: 9px;
		width: 25px;
		height: 3px;
		background-color: $alcatraz-blue;
		transition: all 0.2s ease;

		&.span-1 {
			transform: rotate(45deg);
		}

		&.span-2 {
			display: none;
		}

		&.span-3 {
			transform: rotate(-45deg);
		}
	}
}
