//--------------------------------------------------------------
// PATTERN LIBRARY
//
// This file controls the basic styling for the pattern library
// as a whole. Individual atom, molecule, organism, template
// styles, etc. should live in their respective folders.
//--------------------------------------------------------------

//-------------------------------
// Sections Patterns
//-------------------------------
.alcatraz-pattern {
	@include vertical-rhythm(rem(60));

	overflow: hidden;
}

//-------------------------------
// Pattern Docs
//-------------------------------
.pattern-doc {
	@include vertical-rhythm;

	overflow: hidden;

	@include element(header) {
		align-items: flex-end;
		border-bottom: $border__patterns-header;
		display: flex;
		justify-content: space-between;
		margin: 0 0 rem(25);
		padding: 0 0 rem(5);

		h3 {
			margin: 0;
		}
	}

	@include element(info) {
		display: none;
	}
}


//-------------------------------
// Colors
//-------------------------------
.color-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include media($tablet-portrait) {
		justify-content: space-around;
	}

	@include media($tablet-landscape) {
		justify-content: flex-start;
	}

	@include element(heading) {
		width: 100%;
	}
}

.color {
	color: $dim-gray;
	font-size: rem(14);
	margin-bottom: rem(30);
	text-align: center;
	width: rem(200);

	@include element(chip) {
		@include size(rem(100));
		@include center;

		margin-bottom: rem(5);
	}
}


//-------------------------------
// Pattern Grids
//-------------------------------
[class*='pattern-doc--grid'] { // grab both .pattern-doc--grid & .pattern-doc--grid-without-gutter

	.row {
		margin: 0 0 rem(20);
		overflow: hidden;
	}

	[class^='alcatraz-col'] {
		background-color: $mist;

		&:first-child {
			margin-bottom: rem(20);

			@include media($tablet-portrait) {
				margin-bottom: 0;
			}
		}
	}

	.no-gutter {

		[class^='alcatraz-col'] {

			&:last-child {
				background-color: $prision-cell-gray;
				color: $white-smoke;
			}
		}
	}
}
