//--------------------------------------------------------------
//   2.3 TYPOGRAPHY
//--------------------------------------------------------------


body,
button,
input,
select,
textarea {
	color: $color__text-body;
	font: 300 18px/#{$font__line-height-body} $font__body;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font: {
		family: $font__headings;
		weight: 700;
	}
	line-height: $font__line-height-headings;
	margin: $font__margin-headings;
}

h1 {
	font-size: rem(36);
}

h2 {
	font-size: rem(30);
}

h3 {
	font-size: rem(24);
}

h4 {
	font-size: rem(20);
}

h5 {
	font-size: rem(18);
}

h6 {
	font-size: rem(16);
}


// Copy
p {
	margin: 0 0 rem(20);
}

dfn,
em,
i {
	font-style: italic;
}

blockquote {
	background-color: $color__background-blockquote;
	border-left: $border__blockquote;
	font-style: italic;
	margin: 0 rem(25) rem(25);
	padding: rem(15) rem(20) rem(15) rem(15);

	&::before {
		content: "\f10d";
		float: left;
		font: normal rem(20) $font-awesome;
	}

	p {
		padding-left: rem(35);
		margin: 0;
	}
}

blockquote p {
	margin: 0;
}

q {
	&::before {
		@extend blockquote::before;

		font-size: rem(18);
		padding-right: rem(10);
	}
}

cite {
	display: inline-block;
	font: {
		style: normal;
		weight: 700;
	}
	margin-top: rem(10);
}

address {
	margin: 0 0 rem(25);
}

pre {
	background: $color__background-pre;
	font: 14px/#{$font__line-height-pre} $font__pre;
	margin-bottom: em(25);
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	word-wrap: break-word;
}

code,
kbd,
tt,
var {
	font: rem(14) $font__code;
}

abbr,
acronym {
	border-bottom: $border__abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}


// Lists
ul,
ol {
	padding-left: rem(20);
	margin: 0 0 rem(22) rem(20);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0 0 0 rem(5);
}

li > ul {
	list-style-type: circle;

	li > ul {
		list-style-type: square;
	}
}

li > ol {
	list-style-type: lower-alpha;

	li > ol {
		list-style-type: lower-roman;
	}
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 rem(25) rem(25);
}
