/**
 * 2.6 Typography
 */

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font: {
		family: $font__main;
		weight: 300;
	}
	font-size: 18px;
	line-height: $font__line-height-body;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: $font__margin-headings;
	font:{
		family: $font__headings;
		weight: 600;
	}
	line-height: $font__line-height-headings;
	clear: both;
}

h1 {
	@include font-size(36);
}

h2 {
	@include font-size(30);
}

h3 {
	@include font-size(24);
}

h4 {
	@include font-size(20);
}

h5 {
	@include font-size(18);
}

h6 {
	@include font-size(16);
}

/* Copy */
p {
	margin-bottom: 1.5em;
}

dfn,
em,
i {
	font-style: italic;
}

blockquote {
	padding: em(15) em(20) em(15) em(15);
	border-left: em(5) solid darken($color__background-blockquote, 80%);
	margin: 0 1.5em;
	background-color: $color__background-blockquote;
	font-style: italic;

	&::before {
		float: left;
		font: {
			family: FontAwesome;
			size: em(20);
			style: normal;
		}
		content: "\f10d";
	}

	p {
		padding-left: em(35);
		margin: 0;
	}
}

blockquote p {
	margin: 0;
}

q {
	&::before {
		@extend blockquote::before;
		font-size: 18px;
		padding-right: 10px;
	}
}

cite {
	display: inline-block;
	margin-top: em(10);
	font: {
		style: normal;
		weight: 700;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(14);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
	@include font-size(14);
}

abbr,
acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Lists */
ul,
ol {
	padding-left: em(20);
	margin-bottom: 1.25em;
	margin-left: em(20);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
	margin-left: em(5);
}

li > ul {
	list-style-type: circle;

	li > ul {
		list-style-type: square;
	}
}

li > ol {
	list-style-type: lower-alpha;

	li > ol {
		list-style-type: lower-roman;
	}
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
