/**
 * 2.2 Variables
 *
 * Include all site variables in this file.
 */


// 2.2.1 Colors

// Background Colors
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #DEECF9;
$color__background-ins: #fff9c0;
$color__background-blockquote: #DEECF9;

// Text Colors
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #3897EF;
$color__link-visited: darken($color__link, 30%);
$color__link-hover: darken($color__link, 20%);
$color__text-main: #040A0F;

// Border Colors
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-link: $color__text-main;

// 2.2.2 Typography
$font__main: 'Source Sans Pro', sans-serif;
$font__headings: 'Source Serif Pro', serif;
$font__code: 'Source Code Pro', monospace;
$font__pre: 'Source Code Pro', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


// 2.2.3 Structure
$size__site-width: 100%;
$size__sidebar-width: 25%;
$size__sidebar-content-width: $size__site-width - $size__sidebar-width;
$size__default-padding: 20px;


// 2.2.4 Media Query Break Points
$breakpoint__600px: em(600px, $em-base);
$breakpoint__768px: em(768px, $em-base);
