//--------------------------------------------------------------
// WordPress Classes
//--------------------------------------------------------------

//-------------------------------
// Alignments
//-------------------------------
.alignleft {
	float: left;
	margin: 0 $size__padding $size__padding 0;
}

.aligncenter {
	@include center-block;

	margin-bottom: $size__padding;
}

.alignright {
	float: right;
	margin: 0 0 $size__padding $size__padding;
}

//-------------------------------
// WP Caption
//-------------------------------
.wp-caption {
	font-size: 0.8em; // using em to keep it proportional other container text
}


//-------------------------------
// Utility
//-------------------------------
.screen-reader-text {
	@include hide-text;
}
