//--------------------------------------------------------------
// CONTENT
//--------------------------------------------------------------
.site-content {
	@include center;
	@include grid-container;

	max-width: 100%;
	overflow: hidden;
	width: $size__layout-boxed-content;
}

.content-area {
	padding: $size__padding * 2 $size__padding;

	.has-sidebar & {
		@include grid-column(8);
	}
}