//--------------------------------------------------------------
// CONTENT
//
// This sets basic styling for all pages including blog post
// pages.
//--------------------------------------------------------------


//-----------------------------------------
// Structure
//
// `.site` is a direct decendant of <body />
//-----------------------------------------
.site {

	@include clearfix;

	overflow: hidden;

	.boxed & {

		@include center;

		max-width: $size__layout-boxed;
	}
}

.site-content {
	overflow: hidden;
	padding: 0 $size__padding 0;

	.boxed-content & {

		@include center;

		max-width: $size__layout-boxed-content;
	}

	.header-style-side & {
		float: right;
		width: calc(100% - 300px);
	}

	.header-style-side.boxed-content & {

		@include position(relative, null 0 null rem(150));
		
		float: none;
		max-width: $size__layout-boxed-content;
	}
}

.content-area {
	margin: 0 auto;
	padding: $size__padding * 2 $size__padding;
}


//-----------------------------------------
// Posts & Pages
//-----------------------------------------
.sticky {
	display: block;
}

.hentry {
	margin-bottom: em(40);
	word-wrap: break-word;

	@include grid-media($tablet-landscape-up) {
		margin-bottom: rem(50);
	}
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post-edit-link {
	display: block;
	margin: rem(5) 0;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


//-----------------------------------------
// Comments
//-----------------------------------------
.comments-area {
	margin: rem(30) 0 0;
}

.comment-list {

	@include margin-padding-reset;

	list-style-type: none;
}

.comment {
	margin: 0 0 rem(40);

	.children {
		margin: rem(40) 0 0;
	}
}

.comment-meta {
	margin: 0 0 rem(20);
	overflow: hidden;

	img {
		display: inline-block;
		float: left;
		margin: 0 rem(15) 0 0;
	}

	.fn,
	.says,
	.comment-metadata {
		display: inline-block;
	}
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
