//--------------------------------------------------------------
// HEADER
//--------------------------------------------------------------
.site-header {
	padding: $size__padding;
	text-align: center;
}

.site-title {
	@extend .h1;

	line-height: 1;
	margin-bottom: 0.25em;
}

.site-description {
	margin-bottom: 0;
}

//-----------------------------------------
// Logo
//-----------------------------------------
.has-logo {

	.site-title,
	.site-description {
		@extend .screen-reader-text;
	}
}

.custom-logo-link {
	display: block;
	line-height: 1;
}

.custom-logo {
	line-height: 1;

	.mobile-nav-toggle-style-button & {
		@include center-block;
	}
}
