//--------------------------------------------------------------
// HEADER 
//--------------------------------------------------------------
.site-header {
	display: flex;
	justify-content: space-between;
	padding: $size__padding;
	position: relative;
}

.header-inner {
	margin-bottom: $size__padding;
}

.site-title {
	margin-bottom: 0.25em;
	text-decoration: none;
}