//--------------------------------------------------------------
// HEADER
//--------------------------------------------------------------
.site-header {
	padding: $size__padding;

	.header-style-default & {
		
		@include grid-media($tablet-landscape-up) {
			text-align: center;
		}
	}
}

.site-title {
	@extend h1;

	font-weight: 700;
	line-height: 1;
	margin-bottom: 0.25em;
}

.site-description {
	margin-bottom: 0;
}

//-----------------------------------------
// Header Style Short
//-----------------------------------------
.header-style-short {

	@include grid-media($tablet-landscape-up) {

		.site-header {
			display: flex;
			justify-content: space-between;
		}

		.main-navigation {
			margin-left: auto;
			padding-right: 0;
		}
	}
}


//-----------------------------------------
// Header Style Side
//-----------------------------------------
.header-style-side {

	@include grid-media($tablet-landscape-up) {
		
		.site-header {
			@include position(fixed, 0 null 0 null);

			background-color: color(white);
			overflow-y: scroll;
			width: rem(300);
		}

		.main-navigation {
			padding-left: 0;
			padding-right: 0;
		}

		&.admin-bar {

			.site-header {
				top: rem(32);
			}
		}
	}
}


//-----------------------------------------
// Logo
//-----------------------------------------
.has-logo {

	.site-title,
	.site-description {
		@extend .screen-reader-text;
	}
}

.custom-logo-link {
	display: block;
	line-height: 1;
}

.custom-logo {
	line-height: 1;

	.mobile-nav-toggle-style-button & {
		@include center-block;
	}
}
