//--------------------------------------------------------------
// SIDEBARS
//--------------------------------------------------------------
.primary-sidebar {
	margin: 0;
	padding: $size__padding;
}

@media (min-width: em(768)) {

	// Left Sidebar
	.left-sidebar {

		.content-area {
			@include grid-column(8);

			float: right;
		}

		.primary-sidebar {
			@include grid-column(4);

			float: left;
		}
	}

	// Right Sidebar
	.right-sidebar {

		.content-area {
			@include grid-column(8);
		}

		.primary-sidebar {
			@include grid-column(4);
		}
	}
}
