//--------------------------------------------------------------
// IS VISIBLE 
//--------------------------------------------------------------
.is-visible {
	background-color: $true-white;
	opacity: 1;
	z-index: 10;
}