//--------------------------------------------------------------
// IS HIDDEN 
//--------------------------------------------------------------
.is-hidden {
	height: 0;
	opacity: 0;
	transition: height, opacity 0.35s ease-in-out;
}