//--------------------------------------------------------------
// BORDERS
//--------------------------------------------------------------

//-------------------------------
// Patterns
//-------------------------------
$border__patterns-header: 1px solid $silver;


//-------------------------------
// Forms
//-------------------------------
$border__forms: 1px solid $color__forms-border;
$border__forms-focus: 1px solid $color__forms-border-focus;
$border__checkbox: 1px solid $color__checkbox-border;


//-------------------------------
// Typography
//-------------------------------
$border__hr: 1px solid $color__hr;
$border__pre: 1px solid $color__pre-border;
$border__abbr: 1px dotted;
