//--------------------------------------------------------------
// BORDERS
//--------------------------------------------------------------


//-----------------------------------------
// Forms
//-----------------------------------------
$border__forms: 1px solid $color__forms-border;
$border__forms-focus: 1px solid $color__forms-border-focus;


//-----------------------------------------
// Tables
//-----------------------------------------
$border__table: 1px solid $color__table-border;


//-----------------------------------------
// Typography
//-----------------------------------------
$border__hr: 1px solid $color__hr;
$border__pre: 1px solid $color__pre-border;
$border__abbr: 1px dotted;
