//--------------------------------------------------------------
// BREAKPOINTS
//
// Breakpoints are based on those discussed in
// https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862#.or3duno2h.
// Add additional widths as needed.
//--------------------------------------------------------------


// Common breakpoints
$tablet-portrait-up: (
	media: em(600),
);
$tablet-landscape-up: (
	media: em(900),
);
$desktop-up: (
	media: em(1200),
);
$desktop-large-up: (
	media: em(1800),
);
