//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------


$theme-colors: (
	alcatraz-blue: #0d8bb7,
	jelly-bean: #21759b,
	hope: #fff9c0,
	black: #000,
	mine-shaft: #333,
	dim-gray: #666,
	aluminum: #999,
	silver-sand: #bbb,
	gainsboro: #ddd,
	white-smoke: #f1f1f1,
	white: #fff,
);


//-----------------------------------------
// Global Elements
//-----------------------------------------
$color__body-background: color(white);


//-------------------------------
// Buttons
//-------------------------------
$color__button-background: color(alcatraz-blue);
$color__button-background-hover: tint(color(alcatraz-blue), 15%);
$color__button-text: color(white);


//-------------------------------
// Forms
//-------------------------------
$color__forms-text: color(mine-shaft);
$color__forms-border: color(dim-gray);
$color__forms-border-focus: shade(color(dim-gray), 20%);
$color__checkbox-border: color(dim-gray);
$color__checkbox-background-checked: color(alcatraz-blue);
$color__checkbox-text-checked: color(white);
$color__radio-background-checked: color(white);


//-----------------------------------------
// Tables
//-----------------------------------------
$color__table-border: color(dim-gray);


//-------------------------------
// Typography
//-------------------------------
$color__body-text: color(black);
$color__hr: color(dim-gray);
$color__link: color(alcatraz-blue);
$color__link-hover: tint(color(alcatraz-blue), 15%);
$color__link-visited: shade(color(alcatraz-blue), 15%);
$color__ins: color(hope);
$color__pre-border: color(alumninum);


//-------------------------------
// Navigation
//-------------------------------
$color__toggle-background: color(alcatraz-blue);
$color__menu-sub-toggle: color(alcatraz-blue);
$color__mobile-nav-background: color(white);
$color__mobile-nav-full-screen-background: rgba(color(white), 0.85);
$color__mobile-nav-slide-background: color(white);
$color__mobile-nav-slide-overlay-background: rgba(color(black), 0.85);
$color__sub-menu-background: color(white);
