//--------------------------------------------------------------
// SIZES
//--------------------------------------------------------------


//-------------------------------
// Layout
//-------------------------------
$size__padding: 20px;
$size__layout-boxed: 1100px;
$size__layout-boxed-content: 1100px;


//-------------------------------
// Navigation
//-------------------------------
$size__navigation: 1100px;
