//--------------------------------------------------------------
// TRANSITIONS
//--------------------------------------------------------------

$transition__hover-color: color 0.3s ease-in-out;
$transition__hover-background: background-color 0.3s ease-in-out;
$transition__click: transform 0.3s ease-in-out;
$transition__transform: transform 0.3s ease-in-out;
