//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------


// Font Palette
$font-awesome: FontAwesome;
$source-code-pro: 'Source Code Pro', Courier, monospace;
$source-sans-pro: 'Source Sans Pro', sans-serif;


//-------------------------------
// Buttons
//-------------------------------
$text__button: $source-sans-pro;
$text__button-text-caret: '\f0da';
$text__button-text-font: $font-awesome;


//-------------------------------
// Forms
//-------------------------------
$text__checkbox: $font-awesome;
$text__checkbox-checked: '\f00c';


//-------------------------------
// Typography
//-------------------------------
$font__body: $source-sans-pro;
$font__body-line-height: 1.5;
$font__body-weight: 400;
$font__body-size: 16px;
$font__code: $source-code-pro;
$font__code-line-height: 1.6;
$font__code-size: 14px;


//-------------------------------
// Social Icons
//-------------------------------
$font__social-icons: $font-awesome;
