//--------------------------------------------------------------
// FOOTER
//--------------------------------------------------------------
.site-footer {
	clear: both;
	padding: $size__padding;

	.header-style-side & {
		float: right;
		width: calc(100% - 300px);
	}

	.header-style-side.boxed-content & {
		float: none;
		left: rem(150);
		margin: 0 auto;
		max-width: $size__layout-boxed-content;
		position: relative;
		right: 0;
	}
}

.footer-widget-areas:after {

	@include clearfix;
}

.footer-widget-area {
	width: 100%;
}

.footer-bottom {
	clear: both;
	text-align: center;
}

@include mq-min($tablet-landscape-up) {

	.footer-widget-areas-2 {

		.footer-widget-area {
			// @include grid-column(6);
		}
	}

	.footer-widget-areas-3 {

		.footer-widget-area {
			// @include grid-column(4);
		}
	}

	.footer-widget-areas-4 {

		.footer-widget-area {
			// @include grid-column(3);
		}
	}
}
