//--------------------------------------------------------------
// BORDERS
//--------------------------------------------------------------

//-------------------------------
// Forms
//-------------------------------
$border__forms: rem(1) solid $color__forms-border;
$border__forms-focus: rem(1) solid $color__forms-border-focus;
$border__checkbox: rem(1) solid $color__checkbox-border;


$border__abbr: rem(1) dotted $dim-gray;
$border__blockquote: rem(5) solid darken($color__background-blockquote, 80%);
$border__button: rem(2) solid $alcatraz-blue;
$border__button-hover: rem(2) solid $alcatraz-blue;
$border__fieldset: rem(1) solid $silver;
$border__input: rem(1) solid $mist;
$border__input-focus: rem(1) solid $prision-cell-gray;
$border__nav-sub-menu: rem(3) solid $prision-cell-gray;
$border__patterns-header: rem(1) solid $silver;
$border__pre: rem(1) solid $sf-fog;
$border__sub-page-nav-item: rem(1) dotted $mist;
$border__table: rem(1) solid $mist;
