//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------


// Color Palette
$alcatraz-blue: #0d8bb7;
$black-as-night: #040a04;
$mist: #ddd;
$dim-gray: #666;
$hope: #fff9c0;
$prision-cell-gray: #535d65;
$jelly-bean: #21759b;
$silver: #c0c0c0;
$sf-fog: #95a0a3;
$the-coast-is-clear: transparent;
$true-white: #fff;
$true-black: #000;
$white-smoke: #f1f1f1;

// Utility
$color__background-visual-grid: tint($alcatraz-blue, 80%); // for use with Neat


//-------------------------------
// Buttons
//-------------------------------
$color__button-background: $alcatraz-blue;
$color__button-background-hover: tint($alcatraz-blue, 15%);
$color__button-text: $true-white;


//-------------------------------
// Forms
//-------------------------------
$color__forms-text: $prision-cell-gray;
$color__forms-border: $mist;
$color__forms-border-focus: shade($mist, 20%);
$color__checkbox-border: $mist;
$color__checkbox-background-checked: $alcatraz-blue;
$color__checkbox-text-checked: $true-white;
$color__radio-background-checked: $true-white;


//-------------------------------
// Typography
//-------------------------------
$color__body-text: $black-as-night;
$color__hr: $sf-fog;
$color__link: $alcatraz-blue;
$color__link-hover: tint($alcatraz-blue, 15%);
$color__link-visited: shade($alcatraz-blue, 15%);
$color__ins: $hope;
$color__pre-border: $sf-fog;


//-------------------------------
// Navigation
//-------------------------------
$color__toggle-background: transparent;
$color__menu-sub-toggle: $alcatraz-blue;
$color__mobile-nav-full-screen-background: rgba($true-white, 0.85);
$color__mobile-nav-slide-background: ($true-white);
