//--------------------------------------------------------------
//   COLORS
//--------------------------------------------------------------


// Color Palette
$alcatraz-blue: #0d8bb7;
$black-as-night: #040a04;
$mist: #ddd;
$dim-gray: #666;
$hope: #fff9c0;
$prision-cell-gray: #535d65;
$prussian-blue: #21759b;
$silver: #c0c0c0;
$sf-fog: #95a0a3;
$the-coast-is-clear: transparent;
$true-white: #fff;
$true-black: #000;
$white-smoke: #f1f1f1;


// Background Colors
$color__background-blockquote: $mist;
$color__background-body: $true-white;
$color__background-body-boxed: $mist;
$color__background-boxed-site: $true-white;
$color__background-button: $alcatraz-blue;
$color__background-button-hover: $the-coast-is-clear;
$color__background-hr: $mist;
$color__background-ins: $hope;
$color__background-menu-toggle: $alcatraz-blue;
$color__background-menu-toggle-hover: darken($color__background-menu-toggle, 10%);
$color__background-mobile-nav: $true-white;
$color__background-screen: $white-smoke;
$color__background-sub-menu: $true-white;
$color__background-sub-menu-toggle: $prision-cell-gray;
$color__background-sub-menu-toggle-hover: lighten($color__background-sub-menu-toggle, 15%);
$color__background-table-row: $mist;
$color__background-table-thead: darken($color__background-table-row, 30%);
$color__background-visual-grid: tint($alcatraz-blue, 80%); // for use with Neat


// Overlay Colors
$color__overlay-transparent: rgba($true-black, 0.4);


// Text Colors
$color__text-body: $black-as-night;
$color__text-button: $true-white;
$color__text-button-hover: $alcatraz-blue;
$color__text-input: $prision-cell-gray;
$color__text-input-focus: $prision-cell-gray;
$color__text-menu-toggle: $true-white;
$color__text-menu-toggle-hover: $true-white;
$color__text-screen: $prussian-blue;
$color__text-table-thead: $true-white;


// Link Colors
$color__link: $alcatraz-blue;
$color__link-hover: darken($color__link, 20%);
$color__link-mobile-nav: $alcatraz-blue;
$color__link-nav: $alcatraz-blue;
$color__link-nav-hover: darken($color__link-nav, 20%);
$color__link-nav-sub-menu: $prision-cell-gray;
$color__link-nav-sub-menu-hover: darken($color__link-nav-sub-menu, 10%);
$color__link-visited: darken($color__link, 30%);


// Box Shadow
$color__box-shadow-mobile-primary-menu: 0 rem(4) rem(8) rem(-2) rgba(0, 0, 0, 0.2);
$color__box-shadow-screen: 0 0 rem(2) rem(2) rgba(0, 0, 0, 0.6);
$color__box-shadow-sub-menu: 0 rem(3) rem(10) rem(-3) rgba(0, 0, 0, 0.5);
