//--------------------------------------------------------------
//   GRID SETTINGS
//
//   Use this file to override Bourbon & Neat's default settings
//
//   Calculate your own grid using
//   http://gridcalculator.dk/#/1100/12/16/0
//--------------------------------------------------------------


// Em Base (from Bourbon)
$em-base: 18px;


// Grid
$column: em(77);      // the default width of the columns
$gutter: em(16);      // the default width of the gutters
$grid-columns: 12;    // the total number of columns
$max-width: em(1100); // the max-width of the grid


// Flex-Grid
$fg-column: $column;
$fg-gutter: $gutter;


// Visual Grid - Neat's optional settings for visualizing the
// grid.
$visual-grid: false;
$visual-grid-color: #cfe8f1;
$visual-grid-index: back;
$visual-grid-opacity: 0.4;
