//--------------------------------------------------------------
// GRID SETTINGS
//
// Use this file to override Bourbon & Neat's default settings
//
// Calculate your own grid using
// http://gridcalculator.dk/#/1100/12/16/0
//--------------------------------------------------------------


// Grid Settings.
$neat-grid: (
	columns: 12,
	gutter: 20px
);


// Custom Grid Settings
$cg-phone-only: (
	columns: 4,
);
$cg-tablet-portrait-up: (
	columns: 8,
	media: 600px,
);
$cg-tablet-landscape-up: (
	columns: 8,
	media: 900px,
);
$cg-desktop-up: (
	columns: 12,
	media: 1200px,
);


// Grid columns -- used to create grid classes.
$grid-columns: 12;

// Grid without gutters.
$no-gutter: (
	columns: 12,
	gutter: 0,
);
