//--------------------------------------------------------------
// SIZES
//--------------------------------------------------------------


//-------------------------------
// Layout
//-------------------------------
$size__padding: rem(20);
$size__layout-boxed: 1100px;
$size__layout-boxed-content: 1100px;


//$size__padding-default: rem(20);
//$size__padding-default-half: $size__padding-default / 2;
//$size__padding-default-double: $size__padding-default * 2;
//$size__width-site: 100%;
//$size__width-boxed: 1100px; // Site widths should be fixed pixels.
//$size__width-boxed-content: 1100px; // Site widths should be fixed pixels.
