//--------------------------------------------------------------
// SIZES
//--------------------------------------------------------------


//-------------------------------
// Layout
//-------------------------------
$size__padding: rem(20);
$size__layout-boxed: 1100px;
$size__layout-boxed-content: 1100px;
