//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------


// Font Palette
$font-awesome: FontAwesome;
$source-code-pro: 'Source Code Pro', Courier, monospace;
$source-sans-pro: 'Source Sans Pro', sans-serif;


$font__body: $source-sans-pro;
$font__code: $source-code-pro;
$font__headings: $source-sans-pro;
$font__line-height-body: 1.5;
$font__line-height-headings: 1.2;
$font__line-height-pre: 1.6;
$font__margin-headings: 0 0 rem(10) 0;
$font__pre: $source-code-pro;
$font__social-icons: $font-awesome;
