.social-links-menu {
	display: flex;
	justify-content: center;
	padding: $size-4 0;

	.menu-item {

		+ .menu-item {
			margin-left: $size-4;
		}
	}

	a {
		display: inline-block;
		height: rem(24);
		width: rem(24);

		@each $network, $icon in $social-links {

			&[href*="#{$network}"] {
				background: url(../icons/#{$icon}.svg) no-repeat;
			}
		}

		&[href*="mailto"] {
			background: url(../icons/envelope-square.svg) no-repeat;
		}

		&[href*="tel"] {
			background: url(../icons/phone-square.svg);
		}
	}
}
