.mobile-menu-toggle {

	@include hamburger-button($color-primary);

	margin-left: auto;
	right: $sp-single;
	z-index: z(menu-toggle);

	@include mq-min($tablet-landscape) {
		display: none;
	}

	.menu-open & {

		@include hamburger-button-active($color-primary);
	}
}

.sub-level-toggle {
	background: url(../icons/chevron-down.svg);
	height: 1rem;
	position: absolute;
	right: 0;
	top: rem(5);
	width: 1rem;

	@include mq-min($tablet-landscape) {
		display: none;
	}
}
