//--------------------------------------------------------------
// MOBILE NAVIGATION STYLES
//--------------------------------------------------------------

//-------------------------------
// Full Screen
//-------------------------------
.mobile-nav-style-full-screen {
	overflow: hidden; // keeps the screen from scrolling behind the menu

	.primary-menu {

		&.open {
			@include position(fixed, null 0 0 0);

			background-color: $color__mobile-nav-full-screen-background;
			min-height: 100vh;
			overflow-y: scroll;
			padding-top: ($size__padding * 2);
		}
	}
}

//-------------------------------
// Slide-In Mobile Nav
//
// This should only be *up* to
// $tablet-portrait.
//-------------------------------
.mobile-nav-style-slide {

	@media (max-width: 600px) {

		&:before {
			@include position(fixed, 0 null 0 null);
			@include size(15px 100vh);

			content: '';
			display: block;
			z-index: 10;
		}

		&.menu-open {
			overflow: hidden;

			&:before {
				@include position(fixed, 0 0 0 0);

				background-color: $color__mobile-nav-slide-overlay;
				transition: $transition__click;
				width: 100%;
			}

			.main-navigation__menu {
				width: 100vw;
			}
		}

		.main-navigation__menu {
			@include position(fixed, 0 0 0 0);
			@include size(1px 100vh);

			overflow: hidden;
			padding: 0;
		}

		.primary-menu {
			@include position(absolute, 0 0 0 0);
			@include size(75% 100vh);

			background-color: $color__mobile-nav-slide-background;
			display: block;
			max-width: rem(275);
			padding-top: ($size__padding * 2);
		}

		&-left {

			&:before {
				left: 0;
			}

			&.menu-open {

				.menu-toggle {
					left: rem(220); // max of 275px - 55px (width of toggle + padding).
				}
			}

			.primary-menu {
				transform: translateX(-100%);

				&.open {
					transform: translateX(0);
				}
			}
		}

		&-right {

			&:before {
				right: 0;
			}

			.primary-menu {
				left: auto;
				transform: translateX(100%);

				&.open {
					transform: translateX(0);
				}
			}
		}
	}
}


//-------------------------------
// Mobile Nav Menu Toggle Button
//-------------------------------
.menu-toggle {
	display: block;
	width: 100%;

	@include grid-media($tablet-portrait-up) {
		display: none;
	}
}


//-------------------------------
// Mobile Nav Menu Toggle
// Hamburger
//-------------------------------
.mobile-nav-toggle-style-hamburger {

	.menu-toggle {
		@include position(absolute, 20px 20px null null);
		@include size(40px);

		background-color: $color__toggle-background;
		z-index: 2;

		@include element(bar) {
			@include position(absolute, null 0 null 0);
			@include size(30px 3px);

			background-color: $color__button-background;
			margin: auto;
			transition: $transition__click;

			&.bar-1 {
				top: 7.5px;
			}

			&.bar-2 {
				bottom: 0;
				top: 0;
			}

			&.bar-3 {
				bottom: 7.5px;
			}
		}
	}

	&.logged-in {

		.menu-toggle {
			top: 66px; // 20px + 46px
		}
	}
}
