//--------------------------------------------------------------
// POST NAVIGATION
//--------------------------------------------------------------
.post-navigation {
	clear: both;

	.nav-previous,
	.nav-next {
		display: inline-block;
		width: 50%;
	}

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
		text-align: right;
	}
}
