//--------------------------------------------------------------
// PRIMARY NAVIGATION
//--------------------------------------------------------------

//-------------------------------
// Main Navigation
//-------------------------------
.main-navigation {
	padding: $size__padding;
}


//-------------------------------
// Primary Menu
//-------------------------------
.primary-menu {
	@include margin-padding-reset;

	display: none;

	@include media($tablet-portrait-up) {
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		max-width: $size__navigation;
	}
}


//-------------------------------
// Menu Items
//-------------------------------
.menu-item {
	
	@include media($tablet-portrait-up) {
		display: inline-block;
	}

	> a {
		display: block;
		padding: rem(5) 0;
		text-decoration: none;

		@include media($tablet-portrait-up) {
			display: inline-block;
			padding: rem(10);
		}
	}

	&-has-children {
		position: relative;

		@include media($tablet-portrait-up) {

			> a {
				padding-right: rem(50);
			}
		}
	}
}


//-------------------------------
// Sub Menu
//-------------------------------
.sub-menu {
	display: none;
	padding-left: $size__padding;

	@include media($tablet-portrait-up) {
		min-width: rem(175);
		padding-left: 0;
		position: absolute;
		text-align: left;
		top: 101%;
		width: 100%;
	}

	.menu-item {
		display: block;
	}

	.sub-menu {
		left: 100%;
		top: 0;
	}

	.reverse-expand > & {
		left: -100%;
	}
}



//-------------------------------
// Mobile Nav Menu Toggle Button
//-------------------------------
.menu-toggle {
	display: block;
	width: 100%;

	@include media($tablet-portrait-up) {
		display: none;
	}
}


//-------------------------------
// Mobile Nav Menu Toggle
// Hamburger
//-------------------------------
.mobile-nav-toggle-style-hamburger {

	.menu-toggle {
		@include size(rem(35));

		background-color: transparent;
		position: relative;

		@include element(bar) {
			@include position(absolute, null 0 null 0);
			@include size(rem(35) rem(3));

			background-color: $color__button-background;
			margin: auto;
			transition: $transition__click;

			&.bar-1 {
				top: rem(5);
			}

			&.bar-2 {
				bottom: 0;
				top: 0;
			}

			&.bar-3 {
				bottom: rem(5);
			}
		}
	}
}



//-------------------------------
// Sub Menu Toggle Style Chevron
//-------------------------------
.sub-menu-toggle-style-chevron {

	.sub-level-toggle {
		@include position(absolute, 0 0 null null);
		@include size(rem(35));

		background-color: transparent;
		text-indent: 9999px;
		transition: $transition__click;

		@include media($tablet-portrait-up) {
			top: rem(5);
		}

		@include element(bar) {
			@include size(rem(12) rem(3));

			background-color: $color__menu-sub-toggle;
			display: block;
			margin: auto;
			position: absolute;
			top: 60%;

			&.span-1 {
				left: rem(5);
				transform: rotate(45deg) translateY(-50%);
				transform-origin: 100%;
			}

			&.span-2 {
				right: rem(5);
				transform: rotate(-45deg) translateY(-50%);
				transform-origin: 0;
			}
		}
	}
}

