//--------------------------------------------------------------
// PRIMARY NAVIGATION
//--------------------------------------------------------------

//-------------------------------
// Primary Menu
//-------------------------------
.primary-menu {
	@include margin-padding-reset;

	display: none;
	padding: $size__padding;
	transition: $transition__click;

	@include media($tablet-portrait-up) {
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		max-width: $size__navigation;
	}

	.logged-in & {

		&.open {
			top: rem(46);

			@include media ($tablet-portrait-up) {
				top: auto;
			}
		}
	}
}


//-------------------------------
// Menu Items
//-------------------------------
.menu-item {

	@include media($tablet-portrait-up) {
		display: inline-block;
	}

	> a {
		display: block;
		padding: rem(5) 0;
		text-decoration: none;

		@include media($tablet-portrait-up) {
			display: inline-block;
			padding: rem(10);
		}
	}

	&-has-children {
		position: relative;

		@include media($tablet-portrait-up) {

			> a {
				padding-right: rem(50);
			}
		}
	}
}


//-------------------------------
// Sub Menu
//-------------------------------
.sub-menu {
	display: none;
	padding-left: $size__padding;

	@include media($tablet-portrait-up) {
		min-width: rem(175);
		padding-left: 0;
		position: absolute;
		text-align: left;
		top: 101%;
		width: 100%;
	}

	.menu-item {
		display: block;
	}

	.sub-menu {
		left: 100%;
		top: 0;
	}

	.reverse-expand > & {
		left: -100%;
	}
}


//-------------------------------
// Sub Menu Toggle Style Chevron
//-------------------------------
.sub-level-toggle {
	@include position(absolute, 0 0 null null);
	@include size(rem(35));

	background-color: transparent;
	overflow: hidden;
	text-indent: 9999px;
	transition: $transition__click;

	@include media($tablet-portrait-up) {
		top: rem(5);
	}

	&:hover {
		background-color: transparent;
	}

	@include element(bar) {
		@include size(rem(12) rem(2));

		background-color: $color__menu-sub-toggle;
		display: block;
		margin: auto;
		position: absolute;
		top: 60%;
		transition: $transition__click;

		//-------------------------------
		// Chevron Toggle Style
		//-------------------------------
		.sub-menu-toggle-style-chevron & {

			&.span-1 {
				left: rem(5);
				transform: rotate(45deg) translateY(-50%);
				transform-origin: 100%;
			}

			&.span-2 {
				right: rem(5);
				transform: rotate(-45deg) translateY(-50%);
				transform-origin: 0;
			}
		}

		//-------------------------------
		// Plus-Minus Toggle Style
		//-------------------------------
		.sub-menu-toggle-style-plus-minus & {

			&.span-1,
			&.span-2 {
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
			}

			&.span-2 {
				transform: rotate(90deg);
			}
		}
	}
}
