//--------------------------------------------------------------
// SOCIAL NAV
//--------------------------------------------------------------
.social-nav {

	// The ul menu wrapper.
	@include element(menu) {
		@include margin-padding-reset;

		align-items: center;
		display: flex;
		justify-content: center;

		.menu-item > a {
			// sass-lint:disable-block force-pseudo-nesting
			@include size(25px);

			display: block;
			margin: 0 5px;
			text-align: center;
			text-decoration: none;

			&:before {
				display: inline-block;
				font-family: $font__social-icons;
				font-size: 20px;
				font-style: normal;
				line-height: 1;
				text-align: center;
			}

			&[href*='behance.net']:before {
				content: '\f1b4';
			}

			&[href*='bitbucket.org']:before {
				content: '\f171';
			}

			&[href*='codepen.io']:before {
				content: '\f1cb';
			}

			&[href*='deviantart.com']:before {
				content: '\f1bd';
			}

			&[href*='digg.com']:before {
				content: '\f1a6';
			}

			&[href*='dribbble.com']:before {
				content: '\f17d';
			}

			&[href^='mailto:']:before {
				content: '\f0e0';
			}

			&[href*='facebook.com']:before {
				content: '\f09a';
			}

			&[href*='github.com']:before,
			&[href*='github.io']:before {
				content: '\f09b';
			}

			&[href*='plus.google.com']:before {
				content: '\f0d5';
			}

			&[href*='instagram.com']:before {
				content: '\f16d';
			}

			&[href*='jsfiddle.net']:before {
				content: '\f1cc';
			}

			&[href*='linkedin.com']:before {
				content: '\f0e1';
			}

			&[href*='medium.com']:before {
				content: '\f23a';
			}

			&[href*='pinterest.com']:before {
				content: '\f0d2';
			}

			&[href*='reddit.com']:before {
				content: '\f1a1';
			}

			&[href*='skype.com']:before {
				content: '\f17e';
			}

			&[href*='slack.com']:before {
				content: '\f198';
			}

			&[href*='slideshare.net']:before {
				content: '\f1e7';
			}

			&[href*='snapchat.com']:before {
				content: '\f2ab';
			}

			&[href*='soundcloud.com']:before {
				content: '\f1be';
			}

			&[href*='spotify.com']:before {
				content: '\f1bc';
			}

			&[href*='tumblr.com']:before {
				content: '\f173';
			}

			&[href*='twitter.com']:before {
				content: '\f099';
			}

			&[href*='vimeo.com']:before {
				content: '\f27d';
			}

			&[href*='vine.co']:before {
				content: '\f1ca';
			}

			&[href*='whatsapp.com']:before {
				content: '\f232';
			}

			&[href*='wordpress.com']:before,
			&[href*='wordpress.org']:before {
				content: '\f19a';
			}

			&[href*='yelp.com']:before {
				content: '\f1e9';
			}

			&[href*='youtube.com']:before {
				content: '\f167';
			}
		}
	}
}
