.post-navigation,
.posts-navigation {
	margin-top: $sp-double;
	padding: $sp-single 0;
}

.nav-links {
	display: flex;
}

.nav-previous,
.nav-next {
	flex: 0 0 50%;
	overflow: hidden; // keeps long works from breaking out of container.
}

.nav-next {
	margin-left: auto;
	text-align: right;
}
