.social-links-menu {
	display: flex;
	justify-content: center;
	padding: $sp-single 0;

	.menu-item {

		+ .menu-item {
			margin-left: $sp-single;
		}
	}

	a {
		display: inline-block;
		height: rem(24);
		width: rem(24);

		@each $network, $icon in $social-links {

			&[href*="#{$network}"] {

				@include background-icon(#{$icon});
			}
		}

		&[href*="mailto"] {

			@include background-icon(envelope-square);
		}

		&[href*="tel"] {

			@include background-icon(phone-square);
		}
	}
}
