.alignnone {
	margin: 0;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin-right: $size-4;
}

.alignright {
	float: right;
	margin-left: $size-4;
}

.alignfull {
	@include full-width;
}

.alignwide {
	width: 100%;
}
