//--------------------------------------------------------------
// WIDGETS
//--------------------------------------------------------------
.widget {
	margin: 0 0 rem(25);
	word-wrap: break-word;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget-title,
.alcatraz-sub-page-nav-title {
	font-size: rem(20);
}


//-----------------------------------------
// WordPress Calendar Widget
//-----------------------------------------
#wp-calendar {
	max-width: 100%;
}
